        <div class="header-proposition" style="margin-top: 4px;">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <ul id="proposition-links" class="right-aligned">
                <!-- <li><a href="#">Sign out</a></li> -->
                <li><a href="">Sign out</a></li>
                <li><a href="">Tom Jones</a></li>
                <li><a href="">Support</a></li>
                <li><a href="#">Documentation</a></li>
                <!-- <li><a href="https://govuk-product-page-prototypes.herokuapp.com/govuk-pay/getstarted">Get started</a></li> -->
              </ul>
            </nav>
          </div>
        </div>