        <div class="header-proposition" style="margin-top: 4px;">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <ul id="proposition-links" class="right-aligned">
                <!-- <li><a href="#">Sign out</a></li> -->
                <li><a href="/support">Support</a></li>
                <li><a href="https://docs.cloud.service.gov.uk">Documentation</a></li>
                <li><a href="/features">Features</a></li>
                <li><a href="/pricing-detailed">Pricing</a></li>
              </ul>
            </nav>
          </div>
        </div>