        <div class="header-proposition" style="margin-top: 4px;">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <ul id="proposition-links" class="right-aligned">
                <!-- <li><a href="#">Sign out</a></li> -->
                <li><a href="https://paas-product-proto.cloudapps.digital/support">Support</a></li>
                <li><a href="https://docs.cloud.service.gov.uk">Docs</a></li>
                <li><a href="https://paas-product-proto.cloudapps.digital/features">Features</a></li>
                <li><a href="https://paas-testing.cloudapps.digital/pricing-detailed">Pricing</a></li>
                <li><a href="https://paas-product-proto.cloudapps.digital/get-started">Get started</a></li>
                <li><a href="https://paas-product-proto.cloudapps.digital/">About</a></li>
              </ul>
            </nav>
          </div>
        </div>