{% extends "layout-2.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
 
{% block content %}



<main id="content" role="main">

<div class="grid-row"> 
  {% include "includes/utility-navigation.html" %} 
  </div>


  <!-- <div class="grid-row">
      <div class="column-two-thirds">
      <div class="back">
        <a href="/space-production" class="link-back">Back to production space</a>
      </div>
    </div>
  </div> -->

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="dashboard" itemprop="item"><span itemprop="name">GDS-Design overview</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="space-production" itemprop="item"><span itemprop="name">Production</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#" itemprop="item"><span itemprop="name">web-frontend</span></a>
    </li>
  </ol>
</nav>

  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-large"><span class="heading-secondary">App overview</span>
            web-frontend</h1>

      <h2 class="heading-medium">App details</h2>
        <ul class="app-details">
        <li>Name: <span class="bold-small">web-frontend</span></li>
        <li>Instances: <span class="bold-small">4/4</span></li>
        <li>Memory: <span class="bold-small">1G, 34%</span></li>
        <li>Disk: <span class="bold-small">1Gb, 75%</span></li>
        <li>Cost per instance: <span class="bold-small">£6.43 month to date – <a href="">see total bill</a></span></li>
        <li>URL: <span class="bold-small"><a href="">gds-design.cloudapps.digital</a></span></li>
        </ul>

    <h2 class="heading-medium">Deployments</h2>
        <ul class="app-details">
        <li>Last deploy: <span class="bold-small">08 Nov 17 – 12:34</span></li>
        <li>Deployed by: <span class="bold-small">Ken Tsang</span></li>
        <li>Deploy logs: <span class="bold-small"><a href="">View last deploy logs</a></span></li>
        <li><a href="">Find out more about deploying on the PaaS</a></li>
        </ul>

    <h2 class="heading-medium">Alerts</h2>
        <p>The app has the following alerts set up:</p>
        <ul class="app-details">
        <li>Deployments: <span class="bold-small">all members</span></li>
        <li>App goes down: <span class="bold-small"><a href="">tom.dolan@digital.cabinet-office.gov.uk</a></span></li>
        </ul>
  <h2 class="heading-medium">On the commandline</h2>
    <p>You can also view the same information on the commandline, to see details for all of your apps use:</p>
    <p><code>cf apps</code></p>
    <p><a href="">Read more about using PaaS on the commandline.</a></p>
  </div>
</div>
</main>

{% endblock %}


