{% extends "layout-2.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
 
{% block content %}



<main id="content" role="main">

<div class="grid-row"> 
  {% include "includes/utility-navigation.html" %} 
  </div>


  <div class="grid-row">
      <div class="column-two-thirds">
      <div class="back">
        <a href="/space-production" class="link-back">Back to production space</a>
      </div>
    </div>
  </div>


  <div class="grid-row">

    <div class="column-full">
      <h1 class="heading-large"><span class="heading-secondary">App overview</span>
            web-frontend</h1>


<div class="grid-row">
    <div class="column-full">
      <h2 class="heading-medium">Usage and allocation</h2>
    </div>
</div>
<div class="grid-row">
<!-- <div class="column-full">

<table class="member-table">
  <thead>
    <tr>
      <th scope="col" style="width:280px;">App name</th>
      <th scope="col">Instances</th>
      <th scope="col">Allocated memory</th>
      <th scope="col">Disk quota</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"><a href="app-web-frontend">web-frontend</a></td>
      <td>4</td>
      <td>128 mb</td>
      <td>256 mb</td>
    </tr>
    <tr>
      <td scope="row"><a href="app-web-frontend">pricing-calculator</a></td>
      <td>1</td>
      <td>128 mb</td>
      <td>256 mb</td>
    </tr>
    <tr>
      <td scope="row"><a href="app-web-frontend">contact-form</a></td>
      <td>1</td>
      <td>128 mb</td>
      <td>256 mb</td>
    </tr>
    <tr>
      <td scope="row"><a href="app-web-frontend">product-pages</a></td>
      <td>2</td>
      <td>128 mb</td>
      <td>256 mb</td>
    </tr>
    <tr>
      <td scope="row"><a href="app-web-frontend">support-pages</a></td>
      <td>2</td>
      <td>128 mb</td>
      <td>256 mb</td>
    </tr>
    <tr>
      <td scope="row"><a href="app-web-frontend">technical-docs</a></td>
      <td>1</td>
      <td>128 mb</td>
      <td>256 mb</td>
    </tr>
    <tr>
      <td scope="row"><a href="app-web-frontend">technical-docs-2</a></td>
      <td>1</td>
      <td>128 mb</td>
      <td>256 mb</td>
    </tr>
    <tr>
      <td scope="row"><a href="app-web-frontend">api-explorer</a></td>
      <td>1</td>
      <td>128 mb</td>
      <td>256 mb</td>
    </tr>
  </tbody>
</table>
</div> -->
</div>



<div class="grid-row">
    <div class="column-full">
      <h2 class="heading-medium">Recent activity</h2>
    </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <p>xxxx</p>
  </div>
<!-- <div class="column-full">
<details style="margin-bottom:30px;" >
  <summary><span class="summary">Space level role descriptions</span></summary>
  <div class="panel panel-border-narrow">
    <h3 class="heading-small">Space manager</h3>
    <p>
      Space manager
    </p>
    <h3 class="heading-small">Space developer</h3>
    <p>
      Space developer
    </p>
    <h3 class="heading-small">Space auditor</h3>
    <p>
      Space auditor
    </p>
  </div>
</details>

<table class="member-table">
  <thead>
    <tr>
      <th scope="col" style="width:280px;">Name</th>
      <th scope="col">Space manager</th>
      <th scope="col">Space developer</th>
      <th scope="col">Space auditor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"><a href="team-member-detail">John Smith</a></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
    </tr>
    <tr>
      <td scope="row"><a href="team-member-detail">Maya Alberto Sanchez</a></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
    </tr>
    <tr>
      <td scope="row"><a href="team-member-detail">Tony Rudd</a></td>
      <td></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
    </tr>
    <tr>
      <td scope="row"><a href="team-member-detail">Martha Jones</a></td>
      <td></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
    </tr>
    <tr>
      <td scope="row"><a href="team-member-detail">Martin Torrance</a></td>
      <td></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
    </tr>
  </tbody>
</table>
</div> -->
</div>
</main>

{% endblock %}


