{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}



<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    <form action="dashboard" class="form">
        <h1 class="form-title heading-large">
          Finish creating your account</h1>
        <div class="form-group">
          <label class="form-label create-flow" for="password">Set a password<span class="form-hint">At least 8 characters</span></label>
          <input class="form-control form-control-5em" data-module="" id="password" name="password" rows="6" type="text" value="">
        </div>

          <div class="form-group">
                 <input class="button" type="submit" value="Create account">
          </div>
    </form>
    <p><a href="#">Cancel</a></p>



    </div>
  </div>

</main>

{% endblock %}


