{% extends "layout-2.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
 
{% block content %}



<main id="content" role="main">

<div class="grid-row"> 
  {% include "includes/utility-navigation.html" %} 
  </div>

  <!-- <div class="grid-row">
      <div class="column-two-thirds">
      <div class="back">
        <a href="/my-orgs" class="link-back">Back to account overview</a>
      </div>
    </div>
  </div> -->



  <div class="grid-row">

    <div class="column-full">
      <h1 class="heading-large">
            <span class="heading-secondary">Organisation overview</span> GDS-Design</h1>
      </div>
      <div class="column-full">
        <div class="panel-memory">
          <p>Org memory quota: 25GB <span class="edit-name"><a href="#">Increase quota</a></span></p>
        </div>

      <h2 class="heading-medium">This organisation has 3 spaces</h2>
       <details style="margin-bottom:15px; font-size: 16px;">
          <summary role="button" aria-controls="details-content-1" aria-expanded="false">What are spaces?</summary>
          <div class="text secondary-info_content" id="details-content-1" aria-hidden="true">
            <p>Each organisation is divided into one or more spaces, which are used to organise app development, deployment, and maintenance.</p>
            <p><a href="https://docs.cloud.service.gov.uk/#spaces">Read more about Spaces</a></p>
          </div>
        </details>
      </div>


      <a href="space-production">
        <div class="column-one-third">
        <div class="space-section-box">
          <h3 class="heading-small">Production</h3>
          <p class="font-xsmall">The space has 8 apps</p>
          <ul class="font-xsmall">
            <li><div class="sphere green"></div>7 running</li>
            <li><div class="sphere grey"></div>0 stopped</li>
            <li><div class="sphere red"></div>1 crashed</li>
            <li class="quota">45% of org memory quota</li>
          </ul>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="column-one-third">
        <div class="space-section-box">
          <h3 class="heading-small">Integration</h3>
          <p class="font-xsmall">The space has 6 apps</p>
          <ul class="font-xsmall">
            <li><div class="sphere green"></div>6 running</li>
            <li><div class="sphere grey"></div>0 stopped</li>
            <li><div class="sphere grey"></div>0 crashed</li>
            <li class="quota">25% of org memory quota</li>
          </ul>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="column-one-third">
        <div class="space-section-box">
          <h3 class="heading-small">Staging</h3>
          <p class="font-xsmall">The space has 6 apps</p>
          <ul class="font-xsmall">
            <li><div class="sphere green"></div>5 running</li>
            <li><div class="sphere grey"></div>0 stopped</li>
            <li><div class="sphere red"></div>1 crashed</li>
            <li class="quota">25% of org memory quota</li>
          </ul>
          </div>
        </div>
      </a>
    </div>



<div class="grid-row">
<div class="column-full">
  <!-- <div class="line-above">
  </div> -->
      <h2 class="heading-medium">This organisation has 12 members</h2>
      </div>
    <div class="column-half">
        <h2 class="heading-small"><a href ="/team-members">View and manage members</a></h2>
        <p>As an ‘org manager’  you can manage team members in your organiation.</p>
    </div>
    <div class="column-half">
        <p class="heading-small">There are 3 Org managers:</a></h2>
        <ul class="app-details">
        <li class="bold-small"><a href="team-member-detail">John Smith</a></li>
        <li class="bold-small"><a href="team-member-detail">Alice Lawton</a></li>
        <li class="bold-small"><a href="team-member-detail">Tom Jones (you)</a></li>
        </ul>
        <details style="margin-top:20px; font-size: 16px;">
          <summary role="button" aria-controls="details-content-1" aria-expanded="false">What are org managers?</summary>
          <div class="text secondary-info_content" id="details-content-1" aria-hidden="true">
            <p>An org manager administers user roles.</p>
            <p><a href="#">Read more about different roles</a></p>
          </div>
        </details>
    </div>
</div>

<div class="grid-row">
  <div class="column-full">
  <div class="line-above">
      </div>
      <h2 class="heading-medium">Other items</h2>

  </div>
    <div class="column-half">
        <h2 class="heading-small"><a href="">Marketplace</a></h2>
        <p>Get started with our free marketplace services. Upgrade select plans to gain access to premium service plans.</p>
    </div>
    <div class="column-half">
        <h2 class="heading-small"><a href="">Recent activity</a></h2>
        <p>See an audit trail of all deploy logs and changes to your org spaces and applications.</p>
    </div>
</div>

</main>

{% endblock %}


