{% extends "layout-2.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
 
{% block content %}



<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <div class="govuk-box-highlight-green">
        <p>Your organisation account has been created</p>
      </div>
    </div>

    <div class="column-two-thirds">
      <h1 class="heading-large"><span class="heading-secondary">Organisation</span>
            GDS-Design</h1>
    </div>
  </div>


<div class="grid-row">
    <div class="column-one-third">
        <h2 class="heading-small"><a href ="https://docs.cloud.service.gov.uk/#quick-setup-guide">Deploy your first app</a></h2>
        <p>View documentation on deploying your first app using PaaS.</p>
    </div>
    <div class="column-one-third">
        <h2 class="heading-small"><a href ="#">Steps to go live</a></h2>
        <p>View the steps you need to take to go live on GOV.UK PaaS</p>
    </div>
    <div class="column-one-third">
        <h2 class="heading-small"><a href ="/team-members">Manage team members</a></h2>
        <p>As an 'org manager' you can administer team members in your organiation.</p>
    </div>
</div>

</main>

{% endblock %}


