{% extends "layout-2.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
 
{% block content %}



<main id="content" role="main">

<div class="grid-row"> 
  {% include "includes/utility-navigation-overview.html" %} 
  </div>

 
  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-large">
            <span class="heading-secondary">Organisation</span>Organisation A</h1>
      </div>
    <div class="column-one-third memory-playback">
    <!-- <h2 class="heading-small">Memory</h2> -->
      <table>
        <tbody>
          <tr>
            <td class="bold-small">Org memory quota:</td>
            <td>100gb</td>
          </tr>
          <tr>
            <td class="bold-small">Amount allocated:</td>
            <td>45%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

    <div class="grid-row">
      <div class="column-full">
      <h2 class="heading-medium">This organisation has 4 spaces</h2>
       <details style="margin-bottom:15px; font-size: 16px;">
          <summary role="button" aria-controls="details-content-1" aria-expanded="false">What are spaces?</summary>
          <div class="text secondary-info_content" id="details-content-1" aria-hidden="true">
            <p>Each organisation is divided into one or more spaces, which are used to organise app development, deployment, and maintenance.</p>
            <p><a href="https://docs.cloud.service.gov.uk/#spaces">Read more about Spaces</a></p>
          </div>
        </details>
      </div>


      <a href="space-production">
        <div class="column-one-third">
        <div class="space-section-box">
          <h3 class="heading-small">production</h3>
          <p class="font-xsmall">The space has 6 apps</p>
          <ul class="font-xsmall">
            <li><div class="sphere green"></div>8 running</li>
            <li><div class="sphere grey"></div>1 stopped</li>
            <!-- <li><div class="sphere red"></div>1 crashed</li> -->
            <li class="quota">Space memory allocated: 8gb</li>
          </ul>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="column-one-third">
        <div class="space-section-box">
          <h3 class="heading-small">integration</h3>
          <p class="font-xsmall">The space has 9 apps</p>
          <ul class="font-xsmall">
            <li><div class="sphere green"></div>8 running</li>
            <li><div class="sphere grey"></div>1 stopped</li>
            <!-- <li><div class="sphere grey"></div>0 crashed</li> -->
            <li class="quota">Space memory allocated: 6gb</li>
          </ul>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="column-one-third">
        <div class="space-section-box">
          <h3 class="heading-small">staging</h3>
          <p class="font-xsmall">The space has 0 apps</p>
          <ul class="font-xsmall">
            <li><div class="sphere green"></div>0 running</li>
            <li><div class="sphere grey"></div>0 stopped</li>
            <!-- <li><div class="sphere red"></div>1 crashed</li> -->
            <li class="quota">Space memory allocated: 0gb</li>
          </ul>
          </div>
        </div>
      </a>
       <a href="#">
        <div class="column-one-third">
        <div class="space-section-box">
          <h3 class="heading-small">sandbox</h3>
          <p class="font-xsmall">The space has 6 apps</p>
          <ul class="font-xsmall">
            <li><div class="sphere green"></div>5 running</li>
            <li><div class="sphere grey"></div>1 stopped</li>
            <!-- <li><div class="sphere red"></div>1 crashed</li> -->
            <li class="quota">Space memory allocated: 1.6gb</li>
          </ul>
          </div>
        </div>
      </a>
    </div>



<div class="grid-row">
<div class="column-full">
  <!-- <div class="line-above">
  </div> -->
      <h2 class="heading-medium">This organisation has 12 team members</h2>
      </div>
    <div class="column-half">
        <h2 class="heading-small"><a href ="/team-members">View and manage team members</a></h2>
        <p>As an ‘org manager’  you can manage team members in your organiation.</p>
    </div>
    <div class="column-half">
        <p class="heading-small">There are 3 Org managers:</a></h2>
        <ul class="app-details">
        <li class="bold-small"><a href="team-member-detail">John Smith</a></li>
        <li class="bold-small"><a href="team-member-detail">Alice Lawton</a></li>
        <li class="bold-small"><a href="team-member-detail">Tom Jones (you)</a></li>
        </ul>
        <details style="margin-top:20px; font-size: 16px;">
          <summary role="button" aria-controls="details-content-1" aria-expanded="false">What are org managers?</summary>
          <div class="text secondary-info_content" id="details-content-1" aria-hidden="true">
            <p>An org manager administers user roles.</p>
            <p><a href="#">Read more about different roles</a></p>
          </div>
        </details>
    </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <div class="line-above">
      </div>
      <h2 class="heading-medium">Latest deployment</h2>

  </div>
    <!-- <div class="column-half">
        <h2 class="heading-small"><a href="">Marketplace</a></h2>
        <p>Get started with our free marketplace services. Upgrade select plans to gain access to premium service plans.</p>
    </div> -->

    <div class="column-half" style="margin-top:10px;">
      <table>
        <tbody>
          <tr>
            <td class="bold-small">Space:</td>
            <td>Production</td>
          </tr>
          <tr>
            <td class="bold-small">App:</td>
            <td>web-frontend</td>
          </tr>
          <tr>
            <td class="bold-small">Deployed by:</td>
            <td>John Smith</td>
          </tr>
          <tr>
            <td class="bold-small">Time:</td>
            <td>14 Dec 17 – 16:23</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="column-half">
        <h2 class="heading-small"><a href="">See All activity</a></h2>
        <p>See an audit trail of all deploy logs and changes to your org spaces and applications.</p>
    </div>
</div>

</main>

{% endblock %}


