{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


<main id="content" role="main">

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/product-page" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Features, roadmap and security</span></a>
    </li>
  </ol>
</nav>

<div class="container">
  <div class="grid-row">

    <div class="column-one-third">
      <nav class="sub-navigation">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="features.html" itemprop="item"><span itemprop="name">Features</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="roadmap.html" itemprop="item"><span itemprop="name">Roadmap</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="information-assurance.html" itemprop="item"><span itemprop="name">Information assurance</span></a>
          </li>
         <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="security.html" itemprop="item"><span itemprop="name">Security</span></a>
          </li>
        </ol>
      </nav>
    </div>


    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Features</h1>
      <h2 class="heading-medium">The basics</h2>
        <ul class="list list-bullet">
            <li>GOV.UK PaaS runs from Amazon Web Services in Ireland. UK-based hosting is being planned for 2018</li>
            <li>It’s resilient since it operates across three independent availability zones</li>
            <li>It’s built on an open source PaaS platform (Cloud Foundry)</li>
            <li>You can decide to move to other Cloud Foundry-based PaaS providers, including on GCloud, as you’re not locked into our platform</li>
        </ul>
      <h2 class="heading-medium">Security</h2>
      <ul class="list list-bullet">
      <li>It’s accredited for handling personal and confidential information classified as Official</li>
      <li>It allows SSH access to containers</li>
      <li>Applications running on the platform are isolated from each other so they can’t read or change each other's code, data or logs</li>
      </ul>
      <h2 class="heading-medium">Languages supported</h2>
      <ul class="list list-bullet">
      <li>Go</li>
      <li>Node.js</li>
      <li>Java (and other JVM-based languages such as Scala)</li>
      <li>PHP</li>
      <li>Python</li>
      <li>Ruby</li>
      <li>A static HTML/CSS/Javascript site</li>
      <li>A compiled binary</li>
      </ul>
      <p>GOV.UK PaaS allows the use of custom buildpacks and Docker images (with limited functionality) to enable other technologies. Keep in mind that we can provide limited support for the maintenance of custom libraries and frameworks.</p>
      <h2 class="heading-medium">Backing services</h2>
      <ul class="list list-bullet">
      <li>PostgreSQL database service</li>
      <li>MySQL database service</li>
      </ul>

      <h2 class="heading-medium">Provisioning</h2>
      <ul class="list list-bullet">
      <li>It takes a few minutes to create sandbox and testing environments, and even less to delete them once you don’t need them anymore</li>
      <li>Set up a new DB or service in minutes with the CloudFoundry command line or an API: no tickets or requests required</li>
      <li>Service teams can grow their service from prototype to production without replatforming</li>
      </ul>
      <h2 class="heading-medium">Deploying and running apps</h2>
      <ul class="list list-bullet">
      <li>Manage applications with the CloudFoundry command line or API</li>
      <li>Scale applications up and downs in seconds</li>
      <li>You can build on the API or the command line to enable auto-scaling</li>
      <li>Deploy from Travis CI</li>
      <li>Use a custom domain to host your app</li>
      </ul>
      <h2 class="heading-medium">Performance</h2>
      <ul class="list list-bullet">
      <li>You can check the status of the platform on our <a href="https://status.cloud.service.gov.uk/">system status page</a></li>
      <li>Application logs can be streamed to SaaS logging platforms if service teams need to monitor app-specific performance metrics</li>
      </ul>

      <h2 class="heading-medium">Support and maintenance</h2>
      <p>The GOV.UK PaaS team provides platform-level support 24/7. If your team is experiencing any issue using the platform we can provide assistance during office hours.</p>
      <p>The GOV.UK PaaS team is in charge of monitoring the infrastructure, and patching operating systems and infrastructure components. We use zero downtime deploys, so upgrades to the PaaS won't interfere with the running of your application.</p>

    </div>
  </div>
</div>

</main>

{% endblock %}
