{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        PaaS product prototypes
      </h1>

			<h2 class="heading-medium">Current iteration</h2>

			<ul class="list list-bullet">
				<li><a href="https://paas-testing.cloudapps.digital/product-page">Product page</a></li>
        <li><a href="/my-orgs">Admin tool</a></li>
			</ul>

      <h2 class="heading-medium">Previous versions</h2>

      <ul class="list list-bullet">
        <li><a href="https://paas-testing-1.cloudapps.digital/product-page">Product page</a></li>
        <li><a href="https://paas-testing-1.cloudapps.digital/my-orgs">Admin tool</a></li>
      </ul>

      <h2 class="heading-large">About this prototype</h2>
      <p>This prototype has 2 main sections which are the product pages and the admin tool.</p>

      <h3 class="heading-medium">Product page sections</h3>
      <h4 class="heading-small"><a class href="product-page">Product homepage</a></h4>
        <p>This page gives a broad overview of the platform, what it can do and why a service should use it.</p>
      <h4 class="heading-small"><a class href="features">Features section</a></h4>
        <p>The features section has multiple sub pages such as: Roadmap, Information assurance and Security</p>
      <h4 class="heading-small"><a class href="pricing-detailed">Pricing section</a></h4>
        <p>This section gives an overview of the pricing model and links to the pricing calculator.</p>
      <h4 class="heading-small"><a class href="pricing-calculator-accordion">Pricing calculator</a></h4>
        <p>The user can select different backing services and work out how much their service is likely to pay for using GOV.UK Paas.</p>


    </div>
  </div>
</main>

{% endblock %}


