{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        PaaS product prototypes
      </h1>

			<h2 class="heading-medium">Current iteration</h2>

			<ul class="list list-bullet">
				<li><a href="https://paas-testing.cloudapps.digital/product-page">Product page</a></li>
        <li><a href="/my-orgs">Admin tool</a></li>
			</ul>

      <h2 class="heading-medium">Previous versions</h2>

      <ul class="list list-bullet">
        <li><a href="https://paas-testing-1.cloudapps.digital/product-page">Product page</a></li>
        <li><a href="https://paas-testing-1.cloudapps.digital/my-orgs">Admin tool</a></li>
      </ul>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-large">About this prototype</h2>
      <p>This prototype has 2 main sections: product pages and admin tool.</p>
    </div>

    <div class="column-half">
      <h3 class="heading-medium">Product page sections</h3>
      <h4 class="heading-small"><a class href="product-page">Product homepage</a></h4>
        <p>This page gives a broad overview of the platform, what it can do and why a service should use it.</p>
      <h4 class="heading-small"><a class href="onboarding">Get started</a></h4>
        <p>Outlines the steps the user needs to take to start using GOV.UK PaaS.</p>
      <h4 class="heading-small"><a class href="request-trial-choose">Request an account</a></h4>
        <p>This is where the user requests a PaaS account for their organisation.</p>
      <h4 class="heading-small"><a class href="features">Features section</a></h4>
        <p>The features section has multiple sub pages such as: Roadmap, Information assurance and Security</p>
      <h4 class="heading-small"><a class href="pricing-detailed">Pricing section</a></h4>
        <p>This section gives an overview of the pricing model and links to the pricing calculator.</p>
      <h4 class="heading-small"><a class href="pricing-calculator-accordion">Pricing calculator</a></h4>
        <p>The user can select different backing services and work out how much their service is likely to pay for using GOV.UK PaaS.</p>
      <h4 class="heading-small"><a class href="support">Support</a></h4>
        <p>Outlines the different support options for the user.</p>
    </div>
    <div class="column-half">
      <h3 class="heading-medium">Admin tool sections</h3>
      <h4 class="heading-small"><a class href="my-orgs">My organisations</a></h4>
        <p>List the organisations the user has admin access too.</p>
      <h4 class="heading-small"><a class href="dashboard">Dashboard</a></h4>
        <p>Gives an overview of a specific organisations PaaS usage and allows the user to dig deeper.</p>
      <h4 class="heading-small"><a class href="team-members">Team members</a></h4>
        <p>Gives an overview of a specific organisations team members and permissions. Gives the user the opportunity to add more team members or view a specific team member in more detail.</p>
      <h4 class="heading-small"><a class href="billing">Billing section</a></h4>
        <p>Allows the user to see what their service has spent on using GOV.UK PaaS on a monthly basis.</p>
    </div>

  </div>
</main>

{% endblock %}


