{% extends "layout.html" %}

{% block page_title %}
  Transaction list
{% endblock %}

{% block content %}
<main id="content" role="main">

<div class="grid-row"> 
  {% include "includes/utility-navigation.html" %} 
  </div>

	
<div class="grid-row">
	<div class="column-two-thirds">
	<div class="back">
		<a href="/team-members" class="link-back">See all team members</a>
	</div>		
        <h1 class="heading-large">Invite a new team member</h1>
             <div class="form-group">
              <label class="form-label" for="full-name">
                Full name</label>
              <input class="form-control" id="full-name" type="text" name="full-name" style="width: 100%;">
            </div>

            <div class="form-group" style="margin-bottom:60px;">
              <label class="form-label" for="email-address">
                Email address <span class="form-hint">Must be from a government organisation</span>
              </label>
              <input class="form-control" id="email-address" type="text" name="email-address" style="width: 100%;">
            </div>      

<h2 class="heading-large">
		Set org and space roles</h2>
<h3 class="heading-medium">
		Org: GDS-Design</h3>

<details>
  <summary><span class="summary">Org level role descriptions</span></summary>
  <div class="panel panel-border-narrow">
    <h3 class="heading-small">Org billing manager</h3>
    <p>
      Org billing manager
    </p>
    <h3 class="heading-small">Org manager</h3>
    <p>
      Org manager
    </p>
    <h3 class="heading-small">Org auditor</h3>
    <p>
      Org auditor
    </p>
    <p>Go to a space to learn more about space level roles.</p>
  </div>
</details>



<table class="member-table">
  <thead>
    <tr>
      <th scope="col" style="width:200px;">Org billing manager</th>
      <th scope="col">Org manager</th>
      <th scope="col">Org auditor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
    </tr>
  </tbody>
 </table>


<h2 class="heading-medium">
		Space: Production</h2>

<details>
  <summary><span class="summary">Space level role descriptions</span></summary>
  <div class="panel panel-border-narrow">
    <h3 class="heading-small">Space manager</h3>
    <p>
      Space manager
    </p>
    <h3 class="heading-small">Space developer</h3>
    <p>
      Space developer
    </p>
    <h3 class="heading-small">Space auditor</h3>
    <p>
      Space auditor
    </p>
  </div>
</details>

<table class="member-table">
  <thead>
    <tr>
      <th scope="col">Space manager</th>
      <th scope="col">Space developer</th>
      <th scope="col">Space auditor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
    </tr>
  </tbody>
 </table>

 <h2 class="heading-medium">
		Space: Integration</h2>
<details>
  <summary><span class="summary">Space level role descriptions</span></summary>
  <div class="panel panel-border-narrow">
    <h3 class="heading-small">Space manager</h3>
    <p>
      Space manager
    </p>
    <h3 class="heading-small">Space developer</h3>
    <p>
      Space developer
    </p>
    <h3 class="heading-small">Space auditor</h3>
    <p>
      Space auditor
    </p>
  </div>
</details>
<table class="member-table">
  <thead>
    <tr>
      <th scope="col">Space manager</th>
      <th scope="col">Space developer</th>
      <th scope="col">Space auditor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
    </tr>
  </tbody>
 </table>

 <h2 class="heading-medium">
		Space: Staging</h2>
<details>
  <summary><span class="summary">Space level role descriptions</span></summary>
  <div class="panel panel-border-narrow">
    <h3 class="heading-small">Space manager</h3>
    <p>
      Space manager
    </p>
    <h3 class="heading-small">Space developer</h3>
    <p>
      Space developer
    </p>
    <h3 class="heading-small">Space auditor</h3>
    <p>
      Space auditor
    </p>
  </div>
</details>
<table class="member-table">
  <thead>
    <tr>
      <th scope="col">Space manager</th>
      <th scope="col">Space developer</th>
      <th scope="col">Space auditor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
    </tr>
  </tbody>
 </table>




		<br />
    
    <div class="form-group" style="margin-top:30px;">
              <a href="/request-trial-your-organisation.html"><input class="button" type="submit" value="Send invitation"></a>
    </div>
		<p class="remove-link">
			<a href="/team-member-remove">Cancel</a>
		</p>

	</div>

</div>
</main>

{% endblock %}
