{% extends "layout-2.html" %}

{% block page_title %}
  Transaction list
{% endblock %}

{% block content %}
<main id="content" role="main">

<div class="grid-row"> 
  {% include "includes/utility-navigation.html" %} 
  </div>

	
<div class="grid-row">
	<div class="column-two-thirds">
	<div class="back">
		<a href="/team-members" class="link-back">See all team members</a>
	</div>		
        <h1 class="heading-large">Invite a new team member</h1>
             <!-- <div class="form-group">
              <label class="form-label" for="full-name">
                Full name</label>
              <input class="form-control" id="full-name" type="text" name="full-name" style="width: 100%;">
            </div> -->

            <div class="form-group" style="margin-bottom:60px;">
              <label class="form-label" for="email-address">
                Email address <span class="form-hint">Must be from a government organisation</span>
              </label>
              <input class="form-control" id="email-address" type="text" name="email-address" style="width: 100%;">
            </div>      

<h2 class="heading-large">
		Set org and space roles</h2>
<h2 class="heading-medium">
    Organisation roles</h2>

<details style="margin-bottom:30px;" >
  <summary><span class="summary">Which tasks can they perform?</span></summary>
  <div class="panel panel-border-narrow">
    <h3 class="heading-small">Org manager</h3>
    <p>
      A superuser who can create and delete spaces within an org, and administer user roles, both within the org and its spaces. We recommend to have at least two org managers.
    </p>
    <h3 class="heading-small">Org auditor</h3>
    <p>
      A user who can view quota allocation and user roles across the org. Auditors can't change any of these configurations.
    </p>
    <h3 class="heading-small">Org billing manager</h3>
    <p>
      A user who can see billing, costs and quota information.
    </p>
    <p class="bold-small">Tasks related to spaces are associated with space-level roles.</p>
  </div>
</details>



<table class="member-table">
  <thead>
    <tr>
      <th scope="col" style="width:200px;">Org name</th>
      <th scope="col">Org manager</th>
      <th scope="col">Org auditor</th>
      <th scope="col" style="width:140px;">Org billing manager</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="heading-small">Organisation A</td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
    </tr>
  </tbody>
 </table>


<h2 class="heading-medium">
    Space roles</h2>

<details>
  <summary><span class="summary">Which tasks can they perform?</span></summary>
  <div class="panel panel-border-narrow">
    <h3 class="heading-small">Space manager</h3>
    <p>
      A superuser who manages the space and its users.
    </p>
    <h3 class="heading-small">Space developer</h3>
    <p>
      A user who can deploy, run and manage apps, instantiate backing services and bind them to apps.
    </p>
    <h3 class="heading-small">Space auditor</h3>
    <p>
      A user who can view apps, users and resources used within the space.
    </p>
  </div>
</details>

<table class="member-table">
  <thead>
    <tr>
      <th scope="col" style="width:200px;">Space name</th>
      <th scope="col" style="width:140px;">Space manager</th>
      <th scope="col">Space developer</th>
      <th scope="col">Space auditor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="heading-small">Production</td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
    </tr>
    <tr>
      <td class="heading-small">Integration</td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
    </tr>
    <tr>
      <td class="heading-small">Staging</td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
    </tr>
  </tbody>
 </table>


    <br />
    
    <div class="form-group" style="margin-top:30px;">
              <a href="#"><input class="button" type="submit" value="Send invitation"></a>
    </div>
    <p class="remove-link">
      <a href="#">Cancel</a>
    </p>

  </div>

</div>
</main>

{% endblock %}
