{% extends "layout-2.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
 
{% block content %}



<main id="content" role="main">
  <div class="grid-row">
        <div class="column-full">
          <h1 class="heading-large">Welcome to GOV.UK PaaS</h1>
                      <h2 class="heading-medium">Choose an organisation</h2>
        </div>
        <a href="dashboard">
            <div class="column-half">
            <div class="org-section-box">
                  <h3 class="heading-medium" style="margin-top:15px;">Organisation A</h3>
                  <ul class="list-bullet font-xsmall">
                      <li>View spaces and apps</li>
                      <li>View memory quotas</li>
                      <li>Manage team members</li>
                  </ul>
            </div>
            </div>
        </a>
        <a href="dashboard">
            <div class="column-half">
            <div class="org-section-box">
                  <h3 class="heading-medium" style="margin-top:15px;">Organisation B</h3>
                  <ul class="list-bullet font-xsmall">
                      <li>View spaces and apps</li>
                      <li>View memory quotas</li>
                      <li>View team members</li>
                  </ul>
            </div>
            </div>
        </a>
        <!-- <a href="dashboard">
            <div class="column-half">
            <div class="org-section-box">
                  <h3 class="heading-medium" style="margin-top:15px;">Organisation B</h3>
                  <ul class="list-bullet font-xsmall">
                      <li>View spaces in the org</li>
                      <li>View apps within spaces</li>
                      <li>View org and space memory quotas</li>
                      <li>Manage team members</li>
                  </ul>
            </div>
            </div>
        </a> -->
    </div>


<div class="grid-row">
    <div class="column-two-thirds">
      <div class="panel panel-border-wide" style="margin-top:30px;"">
          <p>You’ll need to <a href="https://www.cloud.service.gov.uk/next-steps">install the Cloud Foundry command line interface</a> to deploy and run your applications on GOV.UK PaaS</p>
      </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
      <h2 class="heading-medium">Using GOV.UK PaaS</h2>
    </div>
    <div class="column-two-thirds">
      <h3 class="heading-small"><a href ="https://docs.cloud.service.gov.uk">View the documentation</a></h3>
      <p>Look at our technical documentation to understand how to manage and scale applications on GOV.UK PaaS, and get more information on logging, monitoring and troubleshooting.</p>
    </div>
</div>
<div class="grid-row">
    <div class="column-one-third">
        <h2 class="heading-small"><a href ="https://docs.cloud.service.gov.uk/#deploying-apps">Deploy and run apps</a></h2>
        <p>Learn how to deploy and run your app using the standard and custom buildpacks or Docker images (experimental).</p>
    </div>

    <div class="column-one-third">
        <h2 class="heading-small"><a href ="https://docs.cloud.service.gov.uk/#deploy-a-backing-or-routing-service">Set up backing services</a></h2>
        <p>Understand how to set up and connect services such as a database, an email delivery service or a monitoring system.</p>
    </div>

    <div class="column-one-third">
        <h2 class="heading-small"><a href ="/pricing-calculator-accordion">Get a cost estimation</a></h2>
        <p>The price you pay for GOV.UK PaaS depends on the resources utilised by your apps. Use our calculator to browse the plans available and estimate how much they’ll cost you.</p>
    </div>

</div>


</main>

{% endblock %}


