{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
 
{% block content %}



<main id="content" role="main">
  <div class="grid-row">
        <div class="column-full">
          <h1 class="heading-large">Welcome to GOV.UK PaaS</h1>
                      <h2 class="heading-medium">Your organisations</h2>
        </div>
        <a href="dashboard">
            <div class="column-half">
            <div class="org-section-box">
                  <h3 class="heading-medium" style="margin-top:15px;">GDS-Design</h3>
                  <ul class="list-bullet font-xsmall">
                      <li>View spaces in your org</li>
                      <li>View apps within spaces</li>
                      <li>Manage team members in your org</li>
                  </ul>
            </div>
            </div>
        </a>
        <a href="dashboard">
            <div class="column-half">
            <div class="org-section-box">
                  <h3 class="heading-medium" style="margin-top:15px;">GOV.UK Pay</h3>
                  <ul class="list-bullet font-xsmall">
                      <li>View spaces in your org</li>
                      <li>View apps within spaces</li>
                      <li>Manage team members in your org</li>
                  </ul>
            </div>
            </div>
        </a>
    </div>


<div class="grid-row">
    <div class="column-full">
    <div class="border-top-section">
        <h2 class="heading-medium">Other tasks you can do</h2>
    </div>
    </div>
    <div class="column-half">
        <p>A lot of the tasks you’ll need to do to operate GOV.UK PaaS will be done from your computers command line interface.</p>
    </div>
</div>

<div class="grid-row">
<div class="column-one-third">
    
        <h2 class="heading-small">Download the Cloud Foundry command line tool</h2>
        <p>You’ll need to do this to operate GOV.UK PaaS from your terminal. You can download the cf command line tool using one of the installers shown. You can also visit the github page for <a href ="https://github.com/cloudfoundry/cli#downloads">other download options</a> such as using package managers.</p>
        <p class="heading-small">Installers: </p>
        <ul class="list-bullet">
        <li><a href ="">Mac OS X 64 bit</a></li>
        <li><a href ="">Windows 64 bit</a></li>
        <li><a href ="">Linux 64 bit</a></li>
        </ul>
    
</div>

    <div class="column-one-third">
        <h2 class="heading-small"><a href ="https://docs.cloud.service.gov.uk">View all documentation</a></h2>
        <p>Our documentation covers all aspects of using GOV.UK PaaS, from managing and scaling your applications to troubleshooting.</p>
        <h2 class="heading-small"><a href ="https://docs.cloud.service.gov.uk/#deploying-apps">Setting up and deploying apps</a></h2>
        <p>View our documentation on deploying apps to GOV.UK PaaS.</p>
    </div>

    <div class="column-one-third">
        <h2 class="heading-small"><a href ="/onboarding">Deploy a backing or routing service</a></h2>
        <p>Many 12-factor applications rely on backing services such as a database, an email delivery service or a monitoring system.</p>
        <h2 class="heading-small"><a href ="/pricing-calculator-accordion">Get a cost estimation</a></h2>
        <p>Use our calculator to estimate how much it will cost your service to use GOV.UK PaaS.</p>
    </div>

</div>


</main>

{% endblock %}


