{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
 
{% block content %}



<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <div class="govuk-box-highlight-green">
        <p>Your account has been created</p>
      </div>
    </div>

    <div class="column-two-thirds">
      <h1 class="heading-large"><!-- <span class="heading-secondary">Next steps</span> -->
            Start using GOV.UK PaaS</h1>
    <p class="lede">A lot of the tasks you’ll need to do to operate GOV.UK PaaS will be done from your computers command line interface.<p>
    </div>
  </div>

<div class="grid-row download-section">
    <div class="column-two-thirds">
        <h2 class="heading-small">Download the Cloud Foundry command line tool</h2>
        <p>You’ll need to do this to operate GOV.UK PaaS from your terminal. You can download the cf command line tool using one of the installation options or by visiting the <a href ="https://github.com/cloudfoundry/cli#downloads">github page</a>.</p>
    </div>
    <div class="column-one-third">
        <p class="heading-small">Installation options: </p>
        <ul class="list-bullet">
        <li><a href ="">Mac OS X 64 bit</a></li>
        <li><a href ="">Windows 64 bit</a></li>
        <li><a href ="">Linux 64 bit</a></li>
        </ul>
    </div>
</div>
<div class="grid-row">
<div class="column-full">
    <h2 class="heading-medium">Here are some tasks you may want to do next</h2>
</div>

    <div class="column-one-third">
        <h2 class="heading-small"><a href ="https://docs.cloud.service.gov.uk/#setting-up-the-command-line">Deploy your first application</a></h2>
        <p>View our quick setup guide on deploying your first app to GOV.UK PaaS.</p>
    </div>
    <div class="column-one-third">
        <h2 class="heading-small"><a href ="https://docs.cloud.service.gov.uk/#managing-users">View and manage team members</a></h2>
        <p>If you are an ‘org manager’ you can administer team members. Learn how to do this using the command line tool.</p>
    </div>
    <div class="column-one-third">
        <h2 class="heading-small"><a href ="https://docs.cloud.service.gov.uk">View all documentation</a></h2>
        <p>Our documentation covers all aspects of using GOV.UK PaaS, from managing and scaling your applications to troubleshooting.</p>
    </div>
</div>
<div class="grid-row">
    <div class="column-one-third">
        <h2 class="heading-small"><a href ="/onboarding">See steps to going live</a></h2>
        <p>See an overview of the steps your service needs to take to go live on GOV.UK PaaS.</p>
    </div>
    
    <div class="column-one-third">
        <h2 class="heading-small"><a href ="/pricing-calculator-accordion">Get a cost estimation</a></h2>
        <p>Use our calculator to estimate how much it will cost your service to use GOV.UK PaaS.</p>
    </div>
</div>

</main>

{% endblock %}


