{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


<main id="content" role="main">

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/product-page" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Get started</span></a>
    </li>
  </ol>
</nav>



<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <nav class="sub-navigation">
        <ol itemscope="" itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a href="/onboarding" itemprop="item"><span itemprop="name">Evaluate the platform</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a href="/migrate-live-services" itemprop="item"><span itemprop="name">Migrate a live service to GOV.UK PaaS</span></a>
          </li>
        </ol>
      </nav>
    </div>

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Get started with GOV.UK PaaS</h1>
      <h2 class="heading-large">Evaluate GOV.UK PaaS</h2>
      <p>
        If you’re considering cloud-based solutions for your web app, GOV.UK PaaS offers a trial period with a set of basic features and a capped <a href="https://docs.cloud.service.gov.uk/#quotas">quota</a> of compute and storage. Keep in mind that you can’t use the trial version of the platform for production or live services.
      </p>

      <h3 class="heading-medium">Check the features</h3>
      <p>
        Make sure we currently support the <a href="https://docs.cloud.service.gov.uk/#paas-requirements">language, framework</a> and <a href="/features">backing services</a> you need. Our <a href="/roadmap">roadmap</a> lists the features planned for release in the coming months.
      </p>

      <h3 class="heading-medium">Request a trial account</h3>
      <p>
        When you <a href="/signup">request an account</a> you can invite as many team members as you need and choose the ones who’ll be in charge of managing users. They’ll be able to request more user accounts, including ones for external suppliers, and assign <a href="https://docs.cloud.service.gov.uk/#user-roles">roles and permissions</a>.
      </p>

      <p>
        If you already have an account please refer to our <a href="/next-steps">Start using GOV.UK PaaS</a> page.
      </p>

      <h3 class="heading-medium">Push your first app</h3>
      <p>
        Once we set up your account and you have <a href="https://docs.cloud.service.gov.uk/#setting-up-the-command-line">installed the Cloud Foundry CLI</a>, you can access GOV.UK PaaS, set a password and start using the platform straight away. Our <a href="https://docs.cloud.service.gov.uk/#quick-setup-guide">quick setup guide</a> will help you deploy a static site to test your connection and then <a href="https://docs.cloud.service.gov.uk/#deploying-apps">push some sample code</a>, use the marketplace to <a href="https://docs.cloud.service.gov.uk/#deploy-a-backing-or-routing-service">request backing services like databases</a>, and set up multiple environments and a development pipeline.
      </p>

      <h3 class="heading-medium">Support in trial mode</h3>
      <p>
        Check the documentation to <a href="https://docs.cloud.service.gov.uk/#troubleshooting">troubleshoot common problems</a>. If you can’t find a solution our team can help during office hours. Contact us through our <a href="/support">support page</a>.
      </p>

      <h3 class="heading-medium">Increase your quota</h3>
      <p>
        If you decide to increase your quota and make full use of the platform on a paid basis, get in contact with <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">gov-uk-paas-support@digital.cabinet-office.gov.uk</a>.<br>
        Procurement starts with signing a Memorandum of Understanding. You might not need to do this if your department has already signed one.<br>
        Finance colleagues will help setting up billing arrangements.
      </p>

      <a class="button" href="/signup">Request a trial account</a>
    </div>
  </div>
  
</div>

</main>

{% endblock %}
