{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


<main id="content" role="main">

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/product-page" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Get started</span></a>
    </li>
  </ol>
</nav>



<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Get started</h1>
      <p>
        This is a typical journey for building a public-facing service with an in-house development team.
        It assumes you&apos;re building according to the <a href="https://www.gov.uk/service-manual/service-standard">Digital Service Standard</a> and the <a href="https://www.gov.uk/service-manual">Service Manual</a>.
      </p>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="task-list-section"><span class="task-list-section-number">1.</span> Check GOV.UK PaaS is right for you</h2>
        <div class="task-list-items">
            <p>Check your project’s needs against our <a href="/features.html">current features</a> and <a href="/roadmap.html">product roadmap</a>.</p>
        </div>

      <h2 class="task-list-section"><span class="task-list-section-number">2.</span> Get a trial account</h2>
        <div class="task-list-items">
            <p><a href="request-trial-choose.html">Request an account</a> and add other team members, if appropriate.</p>
        </div>

      <h2 class="task-list-section"><span class="task-list-section-number">3.</span> Test using the platform</h2>
      <div class="task-list-items">
          <p>Use <a href="https://docs.cloud.service.gov.uk/#quick-setup-guide">‘Getting Started’</a> guide to deploy a static site to test your connection. Read the orientation guide for your language to understand what PaaS already does for you.</p>
          
          <p>Push some sample code for your project:</p>
            <p>
            <ul class="list list-bullet">
              <li>Use the platform marketplace to request “trial plan” <a href="https://docs.cloud.service.gov.uk/#deploy-a-backing-or-routing-service">services such as databases</a></li>
              <li>Bind the services to your apps with the command line, then get your app to look at environment variables so it can <a href="https://docs.cloud.service.gov.uk/#accessing-the-service-from-your-app">connect to the services</a>.</li>
              <li>Make any other similar changes to your code to fit with the “12 factor app” principles for cloud scalability</li>
              <li>Read our <a href="https://docs.cloud.service.gov.uk/#troubleshooting-2">troubleshooting documentation</a> to help you overcome any problems</li>
              <li>Raise tickets with <a href="support.html">support</a> if needed</li>
            </ul>
            </p>
            <p>Consider <a href="https://docs.cloud.service.gov.uk/#configuring-a-custom-continuous-integration-ci-system">using a CI service</a> such as Jenkins or Travis to run the app test/deploy pipeline</p>
            </div>


    <h2 class="task-list-section"><span class="task-list-section-number">4.</span> Start preparing for going live</h2>
    <div class="task-list-items">
    <p>
      <ul class="list list-bullet">
        <li>Sign Memorandum of Understanding (MOU)</li>
        <li>Move onto the appropriate paid tier given the needs of your service</li>
        <li>Work with Finance colleagues to set up billing arrangements</li>
        <li>Engage with your Information Security/Assurance colleagues to begin the process of accreditation; we can provide the PaaS documentation if they want to review it</li>
      </ul>
    </p>
    </div>
    <h2 class="task-list-section"><span class="task-list-section-number">5.</span> Build towards private beta</h2>
    <p>
    <div class="task-list-items">
      <ul class="list list-bullet">
        <li><a href="https://docs.cloud.service.gov.uk/#organisations-spaces-amp-targets">Set up ‘spaces’</a> for each of your service’s environments - integration, staging, production - and link them to your CI service</li>
        <li>Configure each environment with the proper backing services; these are often small and open in integration, but high-availability and encrypted in production</li>
        <li>Turn on <a href="https://docs.cloud.service.gov.uk/#scaling">extra instances</a> of key apps in production to get high availability</li>
        <li>Continue development, trying out backing services and app ideas on a pay-as-you-go basis</li>
        <li>Add user-provided services such as logging<a href="#asterisk">*</a>, file storage<a href="#asterisk">*</a>, antivirus etc.</li>
        <li>Add features to integrate with any legacy APIs</li>
        <li>Procure a monitoring and alerting solution<a href="#asterisk">*</a> and add key metrics; these will be specific to your application and can’t be provided by the platform automatically</li>
      </ul>
    </p>
    </div>
    <h2 class="task-list-section"><span class="task-list-section-number">6.</span> Enter private beta</h2>
    <p>
    <div class="task-list-items">
      <ul class="list list-bullet">
        <li>Work with your SIRO to get authority to operate your service with small amounts of production data</li>
        <li>Request a trial.service.gov.uk URL</li>
        <li>Use the platform marketplace to <a href="https://docs.cloud.service.gov.uk/#using-a-custom-domain">turn on a CDN using your trial domain name</a></li>
        <li>Move to an appropriate paid platform support plan</li>
        <li>Iterate your application support model</li>
      </ul>
    </p>
    </div>
    <h2 class="task-list-section"><span class="task-list-section-number">7.</span> During private beta</h2>
    <p>
    <div class="task-list-items">
      <ul class="list list-bullet">
        <li>Iterate your service during private beta, based on real user feedback and any incidents</li>
        <li>Your accreditor should want you to arrange penetration testing at various stages throughout development; always give us a week’s notice of this</li>
        <li>Reconfigure or add new backing services as needed</li>
      </ul>
    </p>
    </div>

    <h2 class="task-list-section"><span class="task-list-section-number">8.</span> After your beta service assessment</h2>
    <p>
    <div class="task-list-items">
      <ul class="list list-bullet">
        <li>Change your support plan</li>
        <li>Request a new service.gov.uk URL and re-configure the CDN</li>
      </ul>
    </p>
    </div>

    <h2 class="task-list-section"><span class="task-list-section-number">9.</span> Enter the public beta phase with your service</h2>
    <p>
    <div class="task-list-items">
      <ul class="list list-bullet">
        <li>Continue to iterate your service based on user feedback and production needs, adding other services (e.g. autoscaling) where needed</li>
        <li>Pass final assessment</li>
      </ul>
    </p>
    </div>

    <h2 class="task-list-section"><span class="task-list-section-number">10.</span> After live assessment</h2>
    <p>
    <div class="task-list-items">
      <ul class="list list-bullet">
        <li>Keep your dependencies up to date</li>
        <li>Be ready to redeploy if there are vulnerabilities in language runtimes</li>
      </ul>
    </p>
    </div>


      <p>
        <a name="asterisk"></a>* These services may be available through the PaaS platform in the future rather than as separate procurements; please see our roadmap for more information.
      </p>

      <!-- <a name="suppliers"></a><h2 class="heading-large">Suppliers developing on GOV.UK PaaS</h2>

      <p>
        Services must always be owned by a civil servant who will take responsibility for the supplier&apos;s usage and spend.
        They can request accounts for supplier team members, and can delegate further account creation where appropriate.
        If you are a supplier wanting to do speculative investigation on GOV.UK PaaS please raise a support ticket and our engagement team will contact you.
      </p>


      <a name="migrating"></a><h2 class="heading-large">Migrating an existing service to GOV.UK PaaS</h2>

      <p>
        To contact us during working hours, use our support email address,
        <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">
          gov-uk-paas-support@digital.cabinet-office.gov.uk
        </a>.
      </p>

      <p>
        An existing service will normally have made technology choices, and changing these will come with some switching costs.
        Our roadmap shows the technologies we support, both now and in the future. Bear in mind that we are always looking for private beta partners for new features, which may align with your development cycle.
      </p>

      <p>
        There may be some work involved in making your applications follow the 12-factor app principles, or
        separating out a monolithic service into components.
      </p>

      <p>
        Some issues may also only be visible when using production-scale data, and where necessary we may grant
        short-term access to any paid services; however tenants will need to be careful if using production data.
      </p> -->

    </div>
  </div>
</div>

</main>

{% endblock %}
