{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


<main>

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Pricing</span></a>
    </li>
  </ol>
</nav>


<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">What you pay for</h1>

      <h2 class="heading-medium">
        Start with a free trial account
      </h2>
      <p>
        You can sign up and test your web app with a <a href="/request-trial.html">free trial account</a> for up to three months, with no obligations to pay anything while you decide whether GOV.UK PaaS is for you. You’ll get to use trial-sized editions of most of our backing services too.
      </p>

      <h2 class="heading-medium">
        Scale up to a full account with no long term contract
      </h2>
      <p>
        During the trial period, you can move up to a full paid account any time, and get to use all of the functionality of the PaaS.</p> 
      <p>You don’t have to commit to a long term contract, and you can enable and disable apps, databases and services as required.</p>
      <p>We will charge you based on your usage, and in particular:</p>

      </p>
      <ul class="list list-bullet">
        <li>
          The amount of memory your app instances use and for how long
        </li>
        <li>
          Which database you use and how many resources it uses:
          <ul class="list list-bullet">
            <li>
              For PostgreSQL or MySQL, price is based on how powerful the server is
            </li>
            <li>
              For MongoDB, ElasticSearch and Redis price is based on storage used
            </li>
          </ul>
        </li>
        <li>
          What other services you use
        </li>
      </ul>

      <p>
        Our pricing includes the costs of running the platform, such as patching operating systems and monitoring the infrastructure.
      </p>



      <h2 class="heading-medium">
        Get the support that suits you and your budget
      </h2>
      <p>
        We offer different support tiers. They scale according to the platform usage of your service, but have a different minimum fee.
      </p>
  </div>
    
    <div class="column-one-whole">
      <table class="table pricing-support">
        <thead>
          <tr>
            <th>Support Tier</th>
            <th>Support Offered</th>
            <th>Timescales</th>
            <th>Minimum Monthly Fee</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Trial</td>
            <td>Ad hoc</td>
            <td>Best endeavours</td>
            <td>Free</td>
          </tr>
          <tr>
            <td>Bronze</td>
            <td>Daytime support from the PaaS team. Mon-Fri 9.30am-5.30pm</td>
            <td>Daytime response and resolution targets</td>
            <td>£125</td>
          </tr>
          <tr>
            <td>Silver</td>
            <td>As above, plus 24/7 incident support; penetration tests allowed</td>
            <td>As above, plus night-time response and resolution targets, <a href="/support.html">per SLAs</a></td>
            <td>£500</td>
          </tr>
          <tr>
            <td>Gold</td>
            <td>Priority daytime support from the PaaS team, onboarding consultancy (two days)</td>
            <td>24 hours a day 7 days a week, <a href="/support.html">per SLAs</a></td>
            <td>£1000</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="column-two-thirds">
      <br>
      <p>
        Contact <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">gov-uk-paas-support@digital.cabinet-office.gov.uk</a>
        if you want to discuss bespoke support for your service.
      </p>
      </div>
    </div>


<div class="grid-row">
<div class="column-full">
  <h2 class="heading-large">Our pricing in practice</h2>
        <p>See some example pricing scales below or alternatively you can <a href="" class="bold-small">calculate your own detailed cost</a>.</p>
</div>

  <div class="column-one-third">
    <div class="pricing-example">
      <h3 class="heading-small">Example 1:<br> microsite for arms-length body</h3>
      <p class="font-xsmall">Two instances of your application, with a small highly-available Postgres database and a basic-level support.</p>
      <table>
        <thead>
          <tr>
            <th>
              Component
            </th>
            <th>
              Cost
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="font-xsmall">Compute and database</td>
            <td class="font-xsmall">£117</td>
          </tr>
          <tr>
            <td class="font-xsmall">Support</td>
            <td class="font-xsmall">£125</td>
          </tr>
          <tr>
            <td class="bold-small">Total</td>
            <td class="bold-small">£242</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="column-one-third">
    <div class="pricing-example">
      <h3 class="heading-small">Example 2:<br> small transactional service during development</h3>
      <p class="font-xsmall">Three-application service (for instance public, operator, admin apps), with small Postgres database. Demo and dev environments, with developers experimenting with Elasticsearch, Redis, Mongo and RabbitMQ. Also a space for user research prototypes. Basic paid support.</p>
      <table>
        <thead>
          <tr>
            <th>
              Component
            </th>
            <th>
              Cost
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="font-xsmall">Compute - 8 prototypes</td>
            <td class="font-xsmall">£29</td>
          </tr>
          <tr>
            <td class="font-xsmall">Compute, DB and services - demo</td>
            <td class="font-xsmall">£117</td>
          </tr>
          <tr>
            <td class="font-xsmall">Compute, DB and services - dev</td>
            <td class="font-xsmall">£247</td>
          </tr>
          <tr>
            <td class="font-xsmall">Support</td>
            <td class="font-xsmall">£125</td>
          </tr>
          <tr>
            <td class="bold-small">Total</td>
            <td class="bold-small">£518</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="column-one-third">
    <div class="pricing-example">
      <h3 class="heading-small">Example 3:<br> 100K transaction/year service in production with active development</h3>
      <p class="font-xsmall">Three-application service with two load-balanced instances each, supported by a medium highly-available Postgres database, Redis cache to improve performance, Elasticsearch and 7d logging. Staging environment; smaller integration instance. 24/7 incident support.</p>
      <table>
        <thead>
          <tr>
            <th>
              Component
            </th>
            <th>
              Cost
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="font-xsmall">Compute, DB and services - production</td>
            <td class="font-xsmall">£607</td>
          </tr>
          <tr>
            <td class="font-xsmall">Compute, DB and services - staging</td>
            <td class="font-xsmall">£416</td>
          </tr>
          <tr>
            <td class="font-xsmall">Compute, DB and services - integration</td>
            <td class="font-xsmall">£330</td>
          </tr>
          <tr>
            <td class="font-xsmall">Support</td>
            <td class="font-xsmall">£541</td>
          </tr>
          <tr>
            <td class="bold-small">Total</td>
            <td class="bold-small">£1,894</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

  </div>
</div>

</main>

{% endblock %}
