{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}



<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Cost calculator</h1>
      <p class="lede">Estimate your monthly GOV.UK PaaS costs</p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      
  <h2 class="heading-medium heading-environment">Environment 1</h2>
              
  <div data-module="accordion" class="app-c-accordion js-hidden">
      
  

  <div class="app-c-accordion__section js-section" id="general-information-and-guidance" data-track-count="accordionSection">
        <div class="app-c-accordion__header js-toggle-panel">
          <h2 class="app-c-accordion__title js-section-title">
            Memory usage
          </h2>
        </div>

    <div class="app-c-accordion__panel js-panel" id="section-panel-general-information-and-guidance-1">
          <div id="room_fileds">
           <div class=‘label’> </div>
              <table>
                  <thead>
                    <tr>
                      <th class="wide-th small-tr" scope="col">App description</th>
                      <th class="small-tr"scope="col">Memory GB</th>
                      <th class="small-tr"scope="col">Instances</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"><input name="form-control" type="text" class="form-control" id="form-control" style="width: 360px;" value="{{ data['payment-title'] }}"></th>
                      <td ><input name="form-control-1-2" type="text" class="form-control form-control-1-2" id="form-control-1-2" value="{{ data['payment-title'] }}"></td>
                      <td ><input name="form-control-1-2" type="text" class="form-control form-control-1-2" id="form-control-1-2" value="{{ data['payment-title'] }}"></td>
                    </tr>
                    
                  </tbody>
              </table>
              <input type="button" id="more_fields" onclick="add_fields();" value="Add another app" />
          </div>
                
         <div style="overflow: hidden">
                <form>
                  <div class="form-group">
                    <fieldset class="inline">

                      <legend>
                        <h1 class="heading-small">
                          Do you want zero-downtime deploys on all apps?
                        </h1>
                      </legend>

                      <div class="multiple-choice">
                        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                        <label for="radio-inline-1">Yes</label>
                      </div>
                      <div class="multiple-choice">
                        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                        <label for="radio-inline-2">No</label>
                      </div>

                    </fieldset>
                  </div>
                </form>


              <div class="form-group">
                    <label class="form-label-bold" for="payment-title">
                      How many deploys per week?
                      <span class="form-hint-2">
                       Estimated additional cost based on 1.5h average window for app changeover
                      </span>
                      </label>
                      <input name="payment-title" type="text" class="form-control" id="payment-title"
                      style="width: 30%;" value="{{ data['payment-title'] }}">
              </div>
            </div>
        </div>
    </div>

      
      <div class="app-c-accordion__section js-section" id="alternative-provision-censuses" data-track-count="accordionSection">
        <div class="app-c-accordion__header js-toggle-panel">
          <h2 class="app-c-accordion__title js-section-title">
            Relational databases: Postgres/MySQL
          </h2>
        </div>

        <div class="app-c-accordion__panel js-panel" id="section-panel-alternative-provision-censuses-2">
          <form>
                    <div class="form-group">
                      <fieldset>

                        <legend>
                          <h4 class="heading-small">Choose a plan</h4>
                        </legend>

                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">S-dedicated-9.5<span class="form-hint-2">
                            Low network performance, 1 vCPU 1GB RAM
                            </span></label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">S-HA-dedicated-9.5<span class="form-hint-2">
                            Low network performance, 1 vCPU 1GB RAM, hot standby
                            </span></label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">M-dedicated-9.5<span class="form-hint-2">
                            Moderate network performance, 2 vCPU, 8GB RAM, PIOPS-optimised
                            </span></label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">M-HA-enc-dedicated-9.5<span class="form-hint-2">
                            Moderate network performance, 2 vCPU, 8GB RAM, PIOPS-optimised, hot standby, encrypted
                            </span></label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">L-dedicated-9.5<span class="form-hint-2">
                            High network performance, 8 vCPU, 32GB RAM, PIOPS-optimised.
                            </span></label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">L-HA-dedicated-9.5<span class="form-hint-2">
                            High network performance, 8 vCPU, 32GB RAM, PIOPS-optimised, hot standby</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">L-HA-enc-dedicated-9.5<span class="form-hint-2">
                            High network performance, 8 vCPU, 32GB RAM, PIOPS-optimised, hot standby, encrypted
                          </span>
                          </label>
                        </div>

                      </fieldset>
                    </div>
                    <p><a href="">Add another relational database</a></p>

                  </form>
        </div>
      </div>
      

      <div class="app-c-accordion__section js-section" id="general-hospital-school-censuses" data-track-count="accordionSection">
        <div class="app-c-accordion__header js-toggle-panel">
          <h2 class="app-c-accordion__title js-section-title">
            Document databases: Mongo Cluster
          </h2>
        </div>

        <div class="app-c-accordion__panel js-panel" id="section-panel-general-hospital-school-censuses-3">
          <form>
                    <div class="form-group">
                      <fieldset>

                        <legend>
                          <h4 class="heading-small">Choose a plan</h4>
                        </legend>

                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">mongo_tiny<span class="form-hint-2">
                            1GB Mongo instance - 2 nodes</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">mongo_small<span class="form-hint-2">
                            10GB Mongo instance - 2 nodes</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">mongo_medium<span class="form-hint-2">
                            25GB Mongo instance - 3 nodes</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">mongo_large<span class="form-hint-2">
                            50GB Mongo instance - 3 nodes</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">mongo_huge<span class="form-hint-2">
                            75GB Mongo instance - 3 nodes</span>
                          </label>
                        </div>

                      </fieldset>
                    </div>
                      <p><a href="">Add another document database</a></p>

                  </form>
        </div>
      </div>

      <div class="app-c-accordion__section js-section" id="general-hospital-school-censuses" data-track-count="accordionSection">
        <div class="app-c-accordion__header js-toggle-panel">
          <h2 class="app-c-accordion__title js-section-title">
            Search: Elasticsearch
          </h2>
        </div>

        <div class="app-c-accordion__panel js-panel" id="section-panel-general-hospital-school-censuses-3">
          <form>
                    <div class="form-group">
                      <fieldset>

                        <legend>
                          <h4 class="heading-small">Choose a plan</h4>
                        </legend>

                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">elasticsearch_small<span class="form-hint-2">
                           2GB Elasticsearch cluster</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">elasticsearch_medium<span class="form-hint-2">
                            10GB Elasticsearch cluster</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">elasticsearch_large<span class="form-hint-2">
                            25GB Elasticsearch cluster</span>
                          </label>
                        </div>

                      </fieldset>
                    </div>
                      <p><a href="">Add another Elasticsearch</a></p>
                  </form>
        </div>
      </div>

      <div class="app-c-accordion__section js-section" id="general-hospital-school-censuses" data-track-count="accordionSection">
        <div class="app-c-accordion__header js-toggle-panel">
          <h2 class="app-c-accordion__title js-section-title">
            Key/Value store: Redis
          </h2>
        </div>

        <div class="app-c-accordion__panel js-panel" id="section-panel-general-hospital-school-censuses-3">
          <form>
                    <div class="form-group">
                      <fieldset>
                        <legend>
                          <h4 class="heading-small">Choose a plan</h4>
                        </legend>

                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">redis_small<span class="form-hint-2">
                            256MB Redis instance - standard mode</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">redis_small_cache<span class="form-hint-2">
                           256MB Redis instance - cache mode</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">redis_medium<span class="form-hint-2">
                            1GB Redis instance - standard mode</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">redis_medium_cache<span class="form-hint-2">
                            1GB Redis instance - cache mode</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">redis_large<span class="form-hint-2">
                            256MB Redis instance - standard mode</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">redis_large_cache<span class="form-hint-2">
                            256MB Redis instance - cache mode</span>
                          </label>
                        </div>

                      </fieldset>
                    </div>
                   <p><a href="">Add another key/value store</a></p>
                  </form>
        </div>
      </div>



      <div class="app-c-accordion__section js-section" id="general-hospital-school-censuses" data-track-count="accordionSection">
        <div class="app-c-accordion__header js-toggle-panel">
          <h2 class="app-c-accordion__title js-section-title">
            Message queue: RabbitMQ
          </h2>
        </div>

        <div class="app-c-accordion__panel js-panel" id="section-panel-general-hospital-school-censuses-3">
          <form>
                    <div class="form-group">
                      <fieldset>

                        <legend>
                          <h4 class="heading-small">Choose a plan</h4>
                        </legend>

                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">rabbit_small<span class="form-hint-2">
                            256MB Queue</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">rabbit_medium<span class="form-hint-2">
                            1GB Queue</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">rabbit_large<span class="form-hint-2">
                            5GB Queue</span>
                          </label>
                        </div>
                      </fieldset>
                    </div>
                  <p><a href="">Add another message queue</a></p>
                  </form>

        </div>
      </div>


      <div class="app-c-accordion__section js-section" id="general-hospital-school-censuses" data-track-count="accordionSection">
        <div class="app-c-accordion__header js-toggle-panel">
          <h2 class="app-c-accordion__title js-section-title">
            Logging: Logit instance
          </h2>
        </div>

        <div class="app-c-accordion__panel js-panel" id="section-panel-general-hospital-school-censuses-3">
          <form>
                    <div class="form-group">
                      <fieldset>

                        <legend>
                          <h4 class="heading-small">Choose a plan</h4>
                        </legend>

                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">logit_tiny<span class="form-hint-2">
                            0.5GB/d 4d retention</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">logit_small<span class="form-hint-2">
                            1GB/d 7d retention</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">logit_medium<span class="form-hint-2">
                            3GB/d 14d</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">logit_large<span class="form-hint-2">
                            5GB/d 21d</span>
                          </label>
                        </div>

                      </fieldset>
                    </div>
                   <p><a href="">Add another logit instance</a></p>
                  </form>

        </div>
      </div>


      <div class="app-c-accordion__section js-section" id="general-hospital-school-censuses" data-track-count="accordionSection">
        <div class="app-c-accordion__header js-toggle-panel">
          <h2 class="app-c-accordion__title js-section-title">
            Support plans
          </h2>
        </div>

        <div class="app-c-accordion__panel js-panel" id="section-panel-general-hospital-school-censuses-3">
           <form>
                    <div class="form-group">
                    <!--<h3 class="heading-medium">Choose a support plan</h3>-->                      
                      <fieldset>
                        <legend>
                          <h4 class="heading-small">Choose a support plan</h4>
                        </legend>

                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">Trial<span class="form-hint-2">
                            Up to ten support tickets during onboarding, dealt with as best endeavours (normal response within 24h)</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">Bronze<span class="form-hint-2">
                            Support tickets prioritised above trial users. No ticket limit. Can raise P1 incidents during office hours.</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">Silver<span class="form-hint-2">
                            Support tickets prioritised above bronze users. No ticket limit. Can raise P1 incidents 24/7. Can pentest on platform.</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">Gold<span class="form-hint-2">
                            Top priority support tickets. No ticket limit. P1 incidents 24/7. Up to 2d consultancy from PaaS tech lead during onboarding, and quarterly 2h surgery calls with our technical architect.</span>
                          </label>
                        </div>
                        <div class="multiple-choice">
                          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                          <label class="font-xsmall" for="radio-1">Platinum<span class="form-hint-2">
                            Continuous service and product development requiring focused support from multiple team members. Contact us to discuss your requirements.</span>
                          </label>
                        </div>

                      </fieldset>
                    </div>
                  </form>

                   <div class="panel panel-border-wide">
                    <p>
                      Support costs are only added once. If you add other environments support costs will remain the same.
                    </p>
                  </div>

        </div>
      </div>


  
  </div>



                  <ul class="list list-space">
                    <li><a href="#">Add another environment with the same specifications</a></li>
                    <li><a href="#">Add another environment with different specifications</a></li>
                  </ul>


          <div class="form-group dividing-line">
            <input class="button" type="submit" value="Save cost estimate as PDF">
            <p class="cancel-link"><a href="/set-up-payment">Refresh calculator</a></p>

        </div>

    </div>



    <div class="column-third">

            <div class="payment-summary-small">
                <h2>Cost summary</h2>

                  <p class="payment-info">Estimated cost for Environment 1: £1,230.00</p>
                  <p class="payment-info">Estimated cost for support: £600.00</p>
                   <h3>Total estimated monthly cost:</h3>
                   <p class="payment-amount">£1,830.00</p>
            </div>
        </div>

  </div>

</main>

{% endblock %}


