{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}



<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Cost calculator</h1>
      <p>Estimate your monthly GOV.UK PaaS costs.</p> 
      <p>Service teams usually run 3 environments, such as: Production, Integration and Staging.</p>
    </div>
  </div>

<div class="grid-row">
  <div class="column-two-thirds">
{% for environment in environments %}
  {% include "_environment.html" %}
{% endfor %}
  </div>
</div>

<ul class="list list-space">
  <li><a href="/add-enviroment">Add another environment with the same specifications</a></li>
  <li><a href="/add-different-environment">Add another environment with different specifications</a></li>
</ul>


<h2 class="heading-medium heading-environment">Support plans</h2>


<div data-module="accordion" class="app-c-accordion js-hidden">
  <div class="app-c-accordion__section js-section" id="general-hospital-school-censuses" data-track-count="accordionSection">
    <div class="app-c-accordion__header js-toggle-panel">
      <h2 class="app-c-accordion__title js-section-title">
        Development and service team support options
      </h2>
    </div>

    <div class="app-c-accordion__panel js-panel" id="section-panel-general-hospital-school-censuses-3">
     <form>
      <div class="form-group">
        <!--<h3 class="heading-medium">Choose a support plan</h3>-->
        <fieldset>
          <legend>
            <h4 class="heading-small">Choose a support plan</h4>
          </legend>

          <div class="multiple-choice">
            <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
            <label class="font-xsmall" for="radio-1">Trial<span class="form-hint-2">
            Up to ten developer support tickets during onboarding, dealt with as best endeavours (normal response within 24h).</span>
          </label>
        </div>
        <div class="multiple-choice">
          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
          <label class="font-xsmall" for="radio-1">9 to 5<span class="form-hint-2">
          Platform support tickets for teams in development and production. Can raise P1 incidents during office hours.</span>
        </label>
      </div>
      <div class="multiple-choice">
        <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
        <label class="font-xsmall" for="radio-1">24/7<span class="form-hint-2">
        Incident support 24/7 per SLAs. Platform support for teams via email 9-5.</span>
      </label>
    </div>

  </fieldset>
</div>
</form>

<div class="panel panel-border-wide">
  <p>
    <a href="">Read more about SLAs.</a>
  </p>
</div>

</div>
</div>
</div>



<div class="form-group dividing-line">
  <input style="margin-top:30px;" class="button" type="submit" value="Save cost estimate as PDF">
  <p class="cancel-link"><a href="/set-up-payment">Refresh calculator</a></p>

</div>

</div>



<div class="column-third">

  <div class="payment-summary-small">
    <h2>Estimated cost summary</h2>


    <table>
      <tbody>
        <tr>
          <td class="font-xsmall">{{environmentName}}:</td>
          <td class="font-xsmall">{{environmentCost}}</td>
        </tr>
        <tr>
          <td class="font-xsmall">Environment 2:</td>
          <td class="font-xsmall">£910.00</td>
        </tr>
        <tr>
          <td class="font-xsmall">Environment 3:</td>
          <td class="font-xsmall">£910.00</td>
        </tr>
        <tr>
          <td class="font-xsmall">Support:</td>
          <td class="font-xsmall">£600.00</td>
        </tr>
      </tbody>
    </table>
    <h3 class="cost-estimate">Total estimated cost:</h3>
    <p class="payment-amount">{{totalPrice}}<span class="payment-amount-pm">per month</span></p>
    <details>
      <summary><span class="summary font-xsmall">Why this cost might vary</span></summary>
      <div class="panel panel-border-narrow">
        <p class="font-xsmall">
          This cost may vary due to a number of factors such as service usuage etc.
        </p>
      </div>
    </details>
  </div>
</div>

</div>

</main>

{% endblock %}


