{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

 

<main id="content" role="main">

<nav class="breadcrumbs" aria-label="Breadcrumbs">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="https://www.gov.uk/service-toolkit#components" itemprop="item">
                <span itemprop="name">Components</span>
            </a>
        </li>
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/product-page" itemprop="item">
                <span itemprop="name">GOV.UK PaaS</span>
            </a>
        </li>
        <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="#main" itemprop="item">
                <span itemprop="name">Request an account</span>
            </a>
        </li>
    </ol>
</nav>

<div class="container">
  <div class="grid-row">
    <div class="column-full filter-fields">
        <div class="back">
          <a href="/request-trial-choose.html" class="link-back">Back</a>
        </div>
    </div>

        <div class="column-two-thirds">
            <h1 class="heading-large">Request a GOV.UK PaaS account</h1>
             <div class="form-group">
             <h2 class="heading-medium">Invite users to your organisation</h2>
             <p>Users who aren’t org managers can deploy code but won’t be able to administer the account.</p>


             <form action="/request-trial-success.html" class="request-trial-form">
              <div class="form-group">
                <fieldset>
                  <legend>
                    <h2 class="heading-small">Would you like to invite additional users now? <span class="form-hint">We recommend each ‘organisation’ has at least two org managers</span> 
                    </h2>
                  </legend>
                  <div class="multiple-choice" data-target="contact-by-text">
                    <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="Yes">
                    <label for="example-contact-by-text">Yes, I'd like to invite users to my organisation</label>
                  </div>
                  <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
                <table>
                  <thead>
                    <tr>
                      <th class="wide-th small-tr" scope="col">Email address</th>
                      <th class="small-tr" scope="col">Org manager?</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"><input name="form-control" type="text" class="form-control" id="form-control" style="width: 360px;" value="{{ data['payment-title'] }}"></th>
                      <td class="numeric" style="width:50px">
                        <div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                   <tbody>
                    <tr>
                      <th scope="row"><input name="form-control" type="text" class="form-control" id="form-control" style="width: 360px;" value="{{ data['payment-title'] }}"></th>
                      <td class="numeric" style="width:50px">
                        <div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                   <tbody>
                    <tr>
                      <th scope="row"><input name="form-control" type="text" class="form-control" id="form-control" style="width: 360px;" value="{{ data['payment-title'] }}"></th>
                      <td class="numeric" style="width:50px">
                        <div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
              </table>
              <a href=""> Add another user</a>
                  </div>

                  <div class="multiple-choice" data-target="contact-by-text">
                    <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
                    <label for="example-contact-by-text">No, I'll do this later</label>
                  </div>

                </fieldset>
              </div>
              <div class="form-group">
              <a href="/request-trial-success.html"><input class="button" type="submit" value="Continue"></a>
            </div>
            </form>

        </div>

        <div class="column-one-third"></div>
    </div>
</div>

</main>

{% endblock %}
