{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

 

<main id="content" role="main">

<nav class="breadcrumbs" aria-label="Breadcrumbs">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="https://www.gov.uk/service-toolkit#components" itemprop="item">
                <span itemprop="name">Components</span>
            </a>
        </li>
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/product-page" itemprop="item">
                <span itemprop="name">GOV.UK PaaS</span>
            </a>
        </li>
        <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="#main" itemprop="item">
                <span itemprop="name">Request an account</span>
            </a>
        </li>
    </ol>
</nav>

<div class="container">
  <div class="grid-row">
    <div class="column-full filter-fields">
        <div class="back">
          <a href="/request-trial-choose.html" class="link-back">Back</a>
        </div>
    </div>

        <div class="column-two-thirds">
            <h1 class="heading-large">Create a new organisation</h1>
             <div class="form-group">
              <label class="form-label" for="full-name">
                Your full name</label>
              <input class="form-control" id="full-name" type="text" name="full-name" style="width: 100%;">
            </div>

            <div class="form-group">
              <label class="form-label" for="email-address">
                Your email address <span class="form-hint">Must be from a government organisation</span>
              </label>
              <input class="form-control" id="email-address" type="text" name="email-address" style="width: 100%;">
            </div>

            <div class="form-group">
              <label class="form-label" for="dep-name">
                The name of your government department or agency <!-- <span class="form-hint">
                This is to help us create a unique account (called an ‘organisation’ on GOV.UK PaaS)</span> -->
              </label>
              <input class="form-control" id="dep-name" type="text" name="dep-name" style="width: 100%;">
            </div>

            <div class="form-group">
              <label class="form-label" for="service-name">
                The name of the service or team that you work on <span class="form-hint">
                If you’re not working on a service please tell us the name of your team or what you want to use your trial account for</span>
              </label>
              <input class="form-control" id="service-name" type="text" name="service-name" style="width: 100%;">
            </div>


            <div class="form-group">
              <a href="/request-trial-account-management.html"><input class="button" type="submit" value="Continue"></a>
            </div>

        </div>

        <div class="column-one-third"></div>
    </div>
</div>

</main>

{% endblock %}
