{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

 

<main id="content" role="main">

<nav class="breadcrumbs" aria-label="Breadcrumbs">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="https://www.gov.uk/service-toolkit#components" itemprop="item">
                <span itemprop="name">Components</span>
            </a>
        </li>
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/product-page" itemprop="item">
                <span itemprop="name">GOV.UK PaaS</span>
            </a>
        </li>
        <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="#main" itemprop="item">
                <span itemprop="name">Request an account</span>
            </a>
        </li>
    </ol>
</nav>

<div class="container">
    <div class="grid-row">

        <div class="column-two-thirds">
            <h1 class="heading-large">Request to join an existing organisation</h1>

            <p>If your team is already using GOV.UK PaaS and you would like a user account, ask an Org Manager to contact us and make a request at:<br><a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">gov-uk-paas-support@digital.cabinet-office.gov.uk</a></p>

            <p>Org Managers administer the account and assign roles and permissions.</p>

            <p>Users with non-government email addresses can be added to an account at the request of an Org Manager.</p>

            <p>
              <a href="/contact-us.html">Need more help?</a>
           </p>

        <div class="column-one-third"></div>
    </div>
</div>

</main>

{% endblock %}
