{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


<main id="content" role="main">

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/product-page" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Features, roadmap and security</span></a>
    </li>
  </ol>
</nav>

<div class="container">
  <div class="grid-row">

    <div class="column-one-third">
      <nav class="sub-navigation">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="features.html" itemprop="item"><span itemprop="name">Features</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="roadmap.html" itemprop="item"><span itemprop="name">Roadmap</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="information-assurance.html" itemprop="item"><span itemprop="name">Information assurance</span></a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="security.html" itemprop="item"><span itemprop="name">Security</span></a>
          </li>
        </ol>
      </nav>
    </div>


    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Security</h1>

      <h2 class="heading-medium">Our safety measures</h2>
      <p>The platform is designed to meet both the <a href="https://www.ncsc.gov.uk/guidance/implementing-cloud-security-principles">Cloud Security Principles</a> and the common security needs of data classified as ‘official’:</p>
        <ul class="list list-bullet">
            <li>data in transit is protected by HTTPS from the client to the platform</li>
            <li>IPSec secures data when routing traffic across the platform to your application</li> 
            <li>connections from your application to backing services require TLS</li>
            <li>we host on Amazon Web Services (AWS) - their physical security procedures are <a href="http://d0.awsstatic.com/whitepapers/compliance/AWS_CESG_UK_Cloud_Security_Principles.pdf">robust and audited</a></li>
            <li>data in backing services can be encrypted at rest</li>
            <li>separation between users of the platform is enforced by Cloud Foundry’s internal authentication and access control system</li>
            <li>Linux containers provide the boundary between running application instances</li>
            <li>the platform relies on robust operational security and processes (see below)</li>
            <li>it’s possible to change and revoke your team members’ permissions and roles to manage the service (tenants will be able to add new users later in 2018)</li>
            <li>we use 2-factor authentication, short-lived credentials and IP restriction policies for identity and access management to protect AWS resources</li>
            <li>shared credentials are rotated to minimise risk of unauthorised access</li>
            <li>Amazon Cloudtrail audits and monitors AWS activity</li>
            <li>the CloudFoundry events API provides audit information about the use of your service</li>
        </ul>

        <h2 class="heading-medium">How we manage change, vulnerabilities and incidents</h2>
      <p>The platform is built and maintained by a government team within the Government Digital Service, and these are the established working practices:</p>
        <ul class="list list-bullet">
            <li>everyone with production access has Security Check (SC) clearance</li>
            <li>code changes are approved by team members who haven’t worked on the feature</li>
            <li>we do pair programming whenever possible</li>
            <li>system configuration and access privileges are under source code control
            and so is documentation</li>
            <li>control changes to the production platform are overseen by civil servants</li>
            <li>we code in the open and our code is available in the <a href="https://github.com/alphagov">alphagov</a> project on GitHub - search for the ‘paas’ repositories</li>
            <li>we have a tried and tested incident management approach</li>
            <li>reports of incidents are published and available on our <a href="https://status.cloud.service.gov.uk/history">status page</a></li>
            <li>external penetration tests (IT Health Checks) of the platform are carried out annually and it’s our policy to address all issues discovered with a CVSS score of medium or above</li>
            <li>when security updates become available, we start working on them within one working day, prioritising fixes to critical severity vulnerabilities</li>
        </ul>
        <p>If you need more information, contact us at: <br> <a href="mailto:gov-uk-paas-support@digital.cabinet-office.gov.uk">gov-uk-paas-support@digital.cabinet-office.gov.uk</a></p>





      <h2 class="heading-medium">Who’s responsible for what</h2>
        <table>
          <thead>
            <tr>
              <th scope="col">Your responsibility</th>
              <th scope="col">Our responsibility</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Security of the application design and code</td>
              <td>Security of the platform</td>
            </tr>
            <tr>
              <td>Applying security updates to application dependencies</td>
              <td>Applying security updates to the platform including the underlying operating system</td>
            </tr>
            <tr>
              <td>Updating custom buildpacks (if you use them)</td>
              <td>Updating system buildpacks</td>
            </tr>
            <tr>
              <td>Applying security updates to your Docker images (if you use them)</td>
              <td>Applying security updates to backing services</td>
            </tr>
            <tr>
              <td>Applying security updates to your Docker images (if you use them)</td>
              <td>Applying security updates to backing services</td>
            </tr>
            <tr>
              <td>Telling us if you experience any security breaches</td>
              <td>Telling you if the platform experiences any security breaches</td>
            </tr>
            <tr>
              <td>Performing penetration testing on your applications</td>
              <td>Performing penetration testing on the platform</td>
            </tr>
            <tr>
              <td></td>
              <td>Setting defaults that optimise for security</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

</main>

{% endblock %}
