{% extends "layout-2.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
 
{% block content %}



<main id="content" role="main">

<div class="grid-row"> 
  {% include "includes/utility-navigation.html" %} 
  </div>

  <nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="dashboard" itemprop="item"><span itemprop="name">GDS-Design overview</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#" itemprop="item"><span itemprop="name">Production</span></a>
    </li>
  </ol>
</nav>


<!--   <div class="grid-row">
      <div class="column-two-thirds">
      <div class="back">
        <a href="/dashboard" class="link-back">Back to organisation overview</a>
      </div>
    </div>
  </div> -->


  <div class="grid-row">

    <div class="column-full">
      <h1 class="heading-large"><span class="heading-secondary">Space overview</span>
            Production</h1>
      </div>

      <!-- <div class="column-full">
      <h2 class="heading-medium">This space contains 8 apps</h2>
      </div>


      <a href="#">
        <div class="column-full">
        <div class="app-section-box">
            <div class="column-one-quarter">
              <h3 class="heading-small">web-frontend</h3>
            </div>
            <div class="column-one-quarter">
              <p class="font-xsmall">Instances: 1</p>
            </div>
           <div class="column-one-quarter">
              <p class="font-xsmall">Allocated memory: 128 MB</p>
            </div>
            <div class="column-one-quarter">
              <p class="font-xsmall">Disk quota: 256 MB</p>
            </div>
        </div>
        </div>
      </a>
       <a href="#">
        <div class="column-full">
        <div class="app-section-box">
            <div class="column-one-third">
              <h3 class="heading-small">pricing-calculator</h3>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Allocated memory: 128 MB</p>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Disk quota: 256 MB</p>
            </div>
          </div>
        </div>
      </a>
       <a href="#">
        <div class="column-full">
        <div class="app-section-box">
            <div class="column-one-third">
              <h3 class="heading-small">contact-form</h3>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Allocated memory: 128 MB</p>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Disk quota: 256 MB</p>
            </div>
          </div>
        </div>
      </a>
       <a href="#">
        <div class="column-full">
        <div class="app-section-box">
            <div class="column-one-third">
              <h3 class="heading-small">product-pages</h3>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Allocated memory: 128 MB</p>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Disk quota: 256 MB</p>
            </div>
          </div>
        </div>
      </a>
       <a href="#">
        <div class="column-full">
        <div class="app-section-box">
            <div class="column-one-third">
              <h3 class="heading-small">support-pages</h3>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Allocated memory: 128 MB</p>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Disk quota: 256 MB</p>
            </div>
          </div>
        </div>
      </a>
       <a href="#">
        <div class="column-full">
        <div class="app-section-box">
            <div class="column-one-third">
              <h3 class="heading-small">technical-docs</h3>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Allocated memory: 128 MB</p>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Disk quota: 256 MB</p>
            </div>
          </div>
        </div>
      </a> -->


    </div>



<div class="grid-row">
    <div class="column-full">
      <h2 class="heading-medium">This space contains 8 apps</h2>
    </div>
</div>
<div class="grid-row">
<div class="column-full">

<table class="member-table">
  <thead>
    <tr>
      <th scope="col" style="width:320px;">App name</th>
      <th scope="col">Instances</th>
      <th scope="col">Allocated memory</th>
      <th scope="col">Disk quota</th>
      <th scope="col">Status</th>
      <th scope="col">Last deploy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"><a href="app-web-frontend">web-frontend</a></td>
      <td>4</td>
      <td>512 mb</td>
      <td>1 gb</td>
      <td>Running</td>
      <td>17 Nov 16 — 17:31</td>
    </tr>
    <tr>
      <td scope="row"><a href="app-web-frontend">pricing-calculator</a></td>
      <td>1</td>
      <td>128 mb</td>
      <td>256 mb</td>
      <td>Running</td>
      <td>15 Nov 16 — 12:32</td>
    </tr>
    <tr>
      <td scope="row"><a href="app-web-frontend">contact-form</a></td>
      <td>1</td>
      <td>128 mb</td>
      <td>256 mb</td>
      <td>Running</td>
      <td>15 Nov 16 — 10:36</td>
    </tr>
    <tr class="app-crash">
      <td scope="row"><a href="app-web-frontend">product-pages</a></td>
      <td>2</td>
      <td>128 mb</td>
      <td>256 mb</td>
      <td><div class="sphere red"></div>Crashed</td>
      <td>9 Nov 16 — 17:31</td>
    </tr>
    <tr>
      <td scope="row"><a href="app-web-frontend">support-pages</a></td>
      <td>2</td>
      <td>128 mb</td>
      <td>256 mb</td>
      <td>Running</td>
      <td>9 Nov 16 — 11:22</td>
    </tr>
    <tr>
      <td scope="row"><a href="app-web-frontend">technical-docs</a></td>
      <td>1</td>
      <td>128 mb</td>
      <td>256 mb</td>
      <td>Running</td>
      <td>9 Nov 16 — 11:15</td>
    </tr>
    <tr>
      <td scope="row"><a href="app-web-frontend">technical-docs-2</a></td>
      <td>1</td>
      <td>128 mb</td>
      <td>256 mb</td>
      <td>Running</td>
      <td>8 Nov 16 — 10:10</td>
    </tr>
    <tr>
      <td scope="row"><a href="app-web-frontend">api-explorer</a></td>
      <td>1</td>
      <td>128 mb</td>
      <td>256 mb</td>
      <td>Running</td>
      <td>7 Nov 16 — 11:45</td>
    </tr>
  </tbody>
</table>
</div>
</div>



<div class="grid-row">
    <div class="column-full">
      <h2 class="heading-medium">This space has 6 collaborators</h2>
    </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <p>To add other collaborators to this space go to the <a href="team-members">team members list</a>. You can add new team members or edit existing team member roles to become collaborators on this space.</p>
    <p>To edit an existing collaborators role go to their profile below.</p>
  </div>
<div class="column-full">
<details style="margin-bottom:30px;" >
  <summary><span class="summary">Space level role descriptions</span></summary>
  <div class="panel panel-border-narrow">
    <h3 class="heading-small">Space manager</h3>
    <p>
      Space manager
    </p>
    <h3 class="heading-small">Space developer</h3>
    <p>
      Space developer
    </p>
    <h3 class="heading-small">Space auditor</h3>
    <p>
      Space auditor
    </p>
  </div>
</details>

<table class="member-table">
  <thead>
    <tr>
      <th scope="col" style="width:360px;">Name</th>
      <th scope="col">Space manager</th>
      <th scope="col">Space developer</th>
      <th scope="col">Space auditor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"><a href="team-member-detail">John Smith</a></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
    </tr>
    <tr>
      <td scope="row"><a href="team-member-detail">Maya Alberto Sanchez</a></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
    </tr>
    <tr>
      <td scope="row"><a href="team-member-detail">Tom Jones (you)</a></td>
      <td><img src="public/images/tick.png"></td>
      <td></td>
      <td><img src="public/images/tick.png"></td>
    </tr>
    <tr>
      <td scope="row"><a href="team-member-detail">Tony Rudd</a></td>
      <td></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
    </tr>
    <tr>
      <td scope="row"><a href="team-member-detail">Martha Jones</a></td>
      <td></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
    </tr>
    <tr>
      <td scope="row"><a href="team-member-detail">Martin Torrance</a></td>
      <td></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</main>

{% endblock %}


