{% extends "layout-2.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
 
{% block content %}



<main id="content" role="main">

<div class="grid-row"> 
  {% include "includes/utility-navigation.html" %} 
  </div>

  <!-- <nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="dashboard" itemprop="item"><span itemprop="name">GDS-Design overview</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#" itemprop="item"><span itemprop="name">Production</span></a>
    </li>
  </ol>
</nav> -->


  <div class="grid-row">
      <div class="column-two-thirds">
      <div class="back">
        <a href="/dashboard" class="link-back">Organisation overview</a>
      </div>
    </div>
  </div>


  <div class="grid-row">

    <div class="column-full">
      <h1 class="heading-large"><span class="heading-secondary">Space</span>
            production</h1>
      </div>

      <!-- <div class="column-full">
      <h2 class="heading-medium">This space contains 8 apps</h2>
      </div>


      <a href="#">
        <div class="column-full">
        <div class="app-section-box">
            <div class="column-one-quarter">
              <h3 class="heading-small">web-frontend</h3>
            </div>
            <div class="column-one-quarter">
              <p class="font-xsmall">Instances: 1</p>
            </div>
           <div class="column-one-quarter">
              <p class="font-xsmall">Allocated memory: 128 MB</p>
            </div>
            <div class="column-one-quarter">
              <p class="font-xsmall">Disk quota: 256 MB</p>
            </div>
        </div>
        </div>
      </a>
       <a href="#">
        <div class="column-full">
        <div class="app-section-box">
            <div class="column-one-third">
              <h3 class="heading-small">pricing-calculator</h3>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Allocated memory: 128 MB</p>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Disk quota: 256 MB</p>
            </div>
          </div>
        </div>
      </a>
       <a href="#">
        <div class="column-full">
        <div class="app-section-box">
            <div class="column-one-third">
              <h3 class="heading-small">contact-form</h3>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Allocated memory: 128 MB</p>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Disk quota: 256 MB</p>
            </div>
          </div>
        </div>
      </a>
       <a href="#">
        <div class="column-full">
        <div class="app-section-box">
            <div class="column-one-third">
              <h3 class="heading-small">product-pages</h3>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Allocated memory: 128 MB</p>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Disk quota: 256 MB</p>
            </div>
          </div>
        </div>
      </a>
       <a href="#">
        <div class="column-full">
        <div class="app-section-box">
            <div class="column-one-third">
              <h3 class="heading-small">support-pages</h3>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Allocated memory: 128 MB</p>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Disk quota: 256 MB</p>
            </div>
          </div>
        </div>
      </a>
       <a href="#">
        <div class="column-full">
        <div class="app-section-box">
            <div class="column-one-third">
              <h3 class="heading-small">technical-docs</h3>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Allocated memory: 128 MB</p>
            </div>
            <div class="column-one-third">
              <p class="font-xsmall">Disk quota: 256 MB</p>
            </div>
          </div>
        </div>
      </a> -->


    </div>



<div class="grid-row">
    <div class="column-full">
      <h2 class="heading-medium">This space contains 6 apps</h2>
    </div>
</div>
<div class="grid-row">
<div class="column-full">

<table class="member-table">
  <thead>
    <tr>
      <th scope="col" style="width:300px;">App name</th>
      <th scope="col">Instances</th>
      <th scope="col">Memory</th>
      <th scope="col">Disk</th>
      <th scope="col">Status</th>
      <th scope="col">urls</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td scope="row"><a href="app-web-frontend">datahub-demo</a></td>
      <td>1/1</td>
      <td>1gb</td>
      <td>1gb</td>
      <td>running</td>
      <td>datahub-demo.cloudapps.digital</td>
    </tr>
    <tr>
      <td scope="row"><a href="app-web-frontend">datahub-dev</a></td>
      <td>1/1</td>
      <td>1gb</td>
      <td>1gb</td>
      <td>Running</td>
      <td>datahub-dev.cloudapps.digital</td>
    </tr>
    <tr>
      <td scope="row"><a href="app-web-frontend">datahub-api-demo</a></td>
      <td>1/1</td>
      <td>1gb</td>
      <td>1gb</td>
      <td>Stopped</td>
      <td>datahub-api-demo.cloudapps.digital</td>
    </tr>
    <tr>
      <td scope="row"><a href="app-web-frontend">datahub-omis-dev</a></td>
      <td>1/1</td>
      <td>1gb</td>
      <td>2gb</td>
      <td>Running</td>
      <td>datahub-omis-dev.cloudapps.digital</td>
    </tr>
    <tr>
      <td scope="row"><a href="app-web-frontend">datahub-filebrowser-dev</a></td>
      <td>1/1</td>
      <td>256mb</td>
      <td>1gb</td>
      <td>Running</td>
      <td>datahub-filebrowser-dev.cloudapps.digital</td>
    </tr>
    <tr>
      <td scope="row"><a href="app-web-frontend">datahub-api-dev</a></td>
      <td>1/1</td>
      <td>1gb</td>
      <td>1gb</td>
      <td>Running</td>
      <td>datahub-api-dev.cloudapps.digital</td>
    </tr>
  </tbody>
</table>
</div>
</div>



<div class="grid-row">
    <div class="column-full">
      <h2 class="heading-medium">This space has 6 collaborators</h2>
    </div>
</div>
<div class="grid-row">
<div class="column-full">
<details style="margin-bottom:30px; font-size:16px;" >
  <summary><span class="summary">Space level role descriptions</span></summary>
  <div class="panel panel-border-narrow">
    <h3 class="heading-small">Space manager</h3>
    <p>
      Space manager
    </p>
    <h3 class="heading-small">Space developer</h3>
    <p>
      Space developer
    </p>
    <h3 class="heading-small">Space auditor</h3>
    <p>
      Space auditor
    </p>
  </div>
</details>

<table class="member-table">
  <thead>
    <tr>
      <th scope="col" style="width:360px;">Name</th>
      <th scope="col">Space manager</th>
      <th scope="col">Space developer</th>
      <th scope="col">Space auditor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"><a href="team-member-detail">john.smith@government.gov.uk</a></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
    </tr>
    <tr>
      <td scope="row"><a href="team-member-detail">maya.alberto.sanchez@government.gov.uk</a></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
    </tr>
    <tr>
      <td scope="row">(You)<a href="team-member-detail">tom.jones@government.gov.uk</a></td>
      <td><img src="public/images/tick.png"></td>
      <td></td>
      <td><img src="public/images/tick.png"></td>
    </tr>
    <tr>
      <td scope="row"><a href="team-member-detail">tony.rudd@government.gov.uk</a></td>
      <td></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
    </tr>
    <tr>
      <td scope="row"><a href="team-member-detail">martha.jones@government.gov.uk</a></td>
      <td></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
    </tr>
    <tr>
      <td scope="row"><a href="team-member-detail">martin.torrance@government.gov.uk</a></td>
      <td></td>
      <td><img src="public/images/tick.png"></td>
      <td><img src="public/images/tick.png"></td>
    </tr>
  </tbody>
</table>
</div>
<div class="column-two-thirds" style="padding-top:30px;">
    <p>Add other collaborators to this space from the <a href="team-members">team members list</a>.</p>
    <p>To edit an existing collaborators role go to their profile.</p>
  </div>
</div>
</main>

{% endblock %}


