{% extends "layout-2.html" %}

{% block page_title %}
  Get support - GOV.UK PaaS
{% endblock %}

{% block content %}

 

<main id="content" role="main">

<!-- <nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/product-page" itemprop="item"><span itemprop="name">GOV.UK PaaS</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Support</span></a>
    </li>
  </ol>
</nav> -->

<div class="container">

  <div class="grid-row">
        <div class="column-two-thirds" style="margin-top:30px;">
        <div class="link-back">
          <a href="/support.html">Back</a>
        </div>

        <h1 class="heading-large">I’d like to find out more about GOV.UK PaaS</h1>
        <div class="panel panel-border-wide">
        <!-- <p>If you want to know whether GOV.UK PaaS is the right solution for you, tell us a bit more about your service and the app supporting it.</p> -->

        <p>Contact us if you have a question about GOV.UK PaaS or you want to find out whether it's the right solution for your service.</p>
        </div>

          <div class="form-group">
              <label class="form-label" for="full-name">
                Your name
              </label>
              <input class="form-control" id="full-name" type="text" name="full-name" style="width: 100%;">
            </div>


            <div class="form-group">
              <label class="form-label" for="email-address">
                Your email address
              </label>
              <input class="form-control" id="email-address" type="text" name="email-address" style="width: 100%;">
            </div>

            <div class="form-group">
              <label class="form-label" for="dep-name">
                Your government organisation’s name
              </label>
              <input class="form-control" id="dep-name" type="text" name="dep-name" style="width: 100%;">
            </div>

            <div class="form-group">
              <label class="form-label" for="your-message">
                Tell us a bit more about what you need to know and we’ll be in contact to discuss it
              </label>
              <textarea class="form-control" name="textarea" id="textarea" style="width: 100%;" rows="5"></textarea>
            </div>

            <!-- <p>We’ll reply to stephen.mccarthy@digital.cabinet-office.gov.uk</p> -->

            <div class="form-group">
              <a href="/support-success-2.html"><input class="button" type="submit" value="Submit"></a>
            </div>


          <h2 class="heading-medium">More information</h2>
            <p>Our documentation lists the <a href="https://docs.cloud.service.gov.uk/#before-you-start">requirements for an app to run on GOV.UK PaaS</a>.</p>
            <p>Read more about our <a href="/features">features and roadmap</a>.</p>
      </div>
    </div>
  </div>

</main>

{% endblock %}
