{% extends "layout-2.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}



<main id="content" role="main">

	<div class="grid-row">
	    <div class="column-two-thirds">
			<div class="back">
				<a href="/dashboard" class="link-back">Back to dashboard</a>
			</div>
		</div>
	</div>


  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large"><span class="heading-secondary">GDS-Design</span>
            Team members</h1>
    </div>
	<div class="column-one-third">
		<a href="/invite-team-members">
			<input class="button invite-button" type="submit" value="Invite a team member">
		</a>
	</div>	
</div>



	<h2 class="heading-medium staff-subheading">Organisation users</h2>



<div class="grid-row"> 
    <div class="column-one-third">
		    <table>
		      	<tbody>
		      		<tr>
		      			<td class="permissions-type">Billing managers</td>
		      		</tr>
			      	<tr class="clickable-row" data-href="team-member-detail">
			      		<td><a href="/team-member-detail">John Smith (you)</a></td>
			      	</tr>
			      	<tr class="clickable-row" data-href="team-member-detail">
			      		<td><a href="/team-member-detail">Lois Gonzalez</a></td>
			      	</tr>
				</tbody>
			</table>
	</div>
	<div class="column-one-third">
		    <table>
		      	<tbody>
		      		<tr>
		      			<td class="permissions-type">Org managers</td>
		      		</tr>
			      	<tr class="clickable-row" data-href="team-member-detail">
			      		<td><a href="/team-member-detail">John Smith (you)</a></td>
			      	</tr>
			      	<tr class="clickable-row" data-href="team-member-detail">
			      		<td><a href="/team-member-detail">Lois Gonzalez</a></td>
			      	</tr>
			      	<tr class="clickable-row" data-href="team-member-detail">
			      		<td><a href="/team-member-detail">John Smith (you)</a></td>
			      	</tr>
			      	<tr class="clickable-row" data-href="team-member-detail">
			      		<td><a href="/team-member-detail">Lois Gonzalez</a></td>
			      	</tr>
				</tbody>
			</table>
	</div>
	<div class="column-one-third">
		    <table>
		      	<tbody>
		      		<tr>
		      			<td class="permissions-type">Org managers</td>
		      		</tr>
			      	<tr class="clickable-row" data-href="team-member-detail">
			      		<td><a href="/team-member-detail">John Smith (you)</a></td>
			      	</tr>
			      	<tr class="clickable-row" data-href="team-member-detail">
			      		<td><a href="/team-member-detail">Lois Gonzalez</a></td>
			      	</tr>
			      	<tr class="clickable-row" data-href="team-member-detail">
			      		<td><a href="/team-member-detail">John Smith (you)</a></td>
			      	</tr>
			      	<tr class="clickable-row" data-href="team-member-detail">
			      		<td><a href="/team-member-detail">Lois Gonzalez</a></td>
			      	</tr>
			      	<tr class="clickable-row" data-href="team-member-detail">
			      		<td><a href="/team-member-detail">John Smith (you)</a></td>
			      	</tr>
			      	<tr class="clickable-row" data-href="team-member-detail">
			      		<td><a href="/team-member-detail">Lois Gonzalez</a></td>
			      	</tr>
				</tbody>
			</table>
	</div>
</div>

	<h2 class="heading-medium staff-subheading">Space users: Production</h2>


<div class="grid-row">
    <div class="column-one-third">
		    <table>
		      	<tbody>
		      		<tr>
		      			<td class="permissions-type">Billing managers</td>
		      		</tr>
			      	<tr class="clickable-row" data-href="team-member-detail">
			      		<td><a href="/team-member-detail">John Smith (you)</a></td>
			      	</tr>
			      	<tr class="clickable-row" data-href="team-member-detail">
			      		<td><a href="/team-member-detail">Lois Gonzalez</a></td>
			      	</tr>
				</tbody>
			</table>
	</div>
	<div class="column-one-third">
		    <table>
		      	<tbody>
		      		<tr>
		      			<td class="permissions-type">Org managers</td>
		      		</tr>
			      	<tr class="clickable-row" data-href="team-member-detail">
			      		<td><a href="/team-member-detail">John Smith (you)</a></td>
			      	</tr>
			      	<tr class="clickable-row" data-href="team-member-detail">
			      		<td><a href="/team-member-detail">Lois Gonzalez</a></td>
			      	</tr>
				</tbody>
			</table>
	</div>
	<div class="column-one-third">
		    <table>
		      	<tbody>
		      		<tr>
		      			<td class="permissions-type">Org managers</td>
		      		</tr>
			      	<tr class="clickable-row" data-href="team-member-detail">
			      		<td><a href="/team-member-detail">John Smith (you)</a></td>
			      	</tr>
			      	<tr class="clickable-row" data-href="team-member-detail">
			      		<td><a href="/team-member-detail">Lois Gonzalez</a></td>
			      	</tr>
				</tbody>
			</table>
	</div>
</div>

</main>



{% endblock %}
