{% extends "layout.html" %}

{% block page_title %}
  Transaction list
{% endblock %}

{% block content %}
<main id="content" role="main">

	
<div class="grid-row">
	<div class="column-two-thirds">
	<div class="back">
		<a href="/team-members" class="link-back">See all team members</a>
	</div>
		
		<h1 class="heading-large underline">
		<span class="heading-secondary">Team members</span>
		Details for Oscar Smith</h1>


		<table class="member-table">
		  	<tbody>
		  		<tr>
		      		<th></th>
		      		<th></th>
		      		<th></th>
		      	</tr>
		      	<tr>
		      		<td>Name:</td>
		      		<td>Oscar Smith</td>
		      		<td></td>
		      		
		      	</tr>
		      	<tr>
		      		<td>Email:</td>
		      		<td>oscar.smith@email.gov.uk</td>
		      		<td></td>
		      		
		      	</tr>
		      	<tr>
		      		<td>Permission level:</td>
		      		<td>{{data['permission-level']}}</td>
		      		<td><a href="edit-permissions">Edit permissions</a></td>
		      		
		      	</tr>
		      	<tr>
					<td>Start date:</td>
					<td>8 Sep 2016 – 11:14:22</td>
					<td></td>
					
				</tr>
				<tr>
					<td>Last active:</td>
					<td>28 Sep 2016 – 10:44:16</td>
					<td></td>
					
				</tr>
				<tr>
					<td>PaaS organisation:</td>
					<td>GDS-design</td>
					<td></td>
					
				</tr>
			</tbody>
		</table>
		<br />
		<p class="remove-link">
			<a href="/team-member-remove">Remove user</a>
		</p>

	</div>

</div>
</main>

{% endblock %}
