{% extends "layout-2.html" %}

{% block page_title %}
  Transaction list
{% endblock %}

{% block content %}
<main id="content" role="main">

<div class="grid-row"> 
  {% include "includes/utility-navigation.html" %} 
  </div>

  <nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="dashboard" itemprop="item"><span itemprop="name">Organisation A overview</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="team-members" itemprop="item"><span itemprop="name">Team members</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#" itemprop="item"><span itemprop="name">John Smith</span></a>
    </li>
  </ol>
</nav>

	
<div class="grid-row">
	<div class="column-two-thirds">
	<!-- <div class="back">
		<a href="/team-members" class="link-back">See all team members</a>
	</div> -->
		
		<h1 class="heading-large underline">
		<span class="heading-secondary">Team member</span>
		John Smith<!-- <a href="#" class="edit-details-link">
                    Edit name</a> --></h1>


		<table class="member-table">
		  	<tbody>
		  		<tr>
		      		<th></th>
		      		<th></th>
		      		<th></th>
		      	</tr>
		      	<tr>
		      		<td>Email:</td>
		      		<td>john.smith@email.gov.uk</td>
		      		<td><!-- <a href="#" class="edit-details-link">Edit email</a> --></td>
		      		
		      	</tr>
		      	<tr>
					<td>Start date:</td>
					<td>8 Sep 2016 – 11:14:22</td>
					<td></td>					
				</tr>
				<tr>
					<td>Last active:</td>
					<td>28 Sep 2016 – 10:44:16</td>
					<td></td>
					
				</tr>
			</tbody>
		</table>

<h2 class="heading-large">
		Org and space roles</h2>
    <p class="edit-style-save" style="float:right; margin-top:25px"><a href="team-member-detail">Save role changes</a></p>
<h2 class="heading-medium">
		Organisation roles</h2>

<details>
  <summary><span class="summary">Org level role descriptions</span></summary>
  <div class="panel panel-border-narrow">
    <h3 class="heading-small">Org billing manager</h3>
    <p>
      Org billing manager
    </p>
    <h3 class="heading-small">Org manager</h3>
    <p>
      Org manager
    </p>
    <h3 class="heading-small">Org auditor</h3>
    <p>
      Org auditor
    </p>
    <p>Go to a space to learn more about space level roles.</p>
  </div>
</details>



<table class="member-table">
  <thead>
    <tr>
      <th scope="col" style="width:200px;">Org name</th>
      <th scope="col" style="width:140px;">Org billing manager</th>
      <th scope="col">Org manager</th>
      <th scope="col">Org auditor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="heading-small">Organisation A</td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
    </tr>
  </tbody>
 </table>


<h2 class="heading-medium">
		Space roles</h2>

<details>
  <summary><span class="summary">Space level role descriptions</span></summary>
  <div class="panel panel-border-narrow">
    <h3 class="heading-small">Space manager</h3>
    <p>
      Space manager
    </p>
    <h3 class="heading-small">Space developer</h3>
    <p>
      Space developer
    </p>
    <h3 class="heading-small">Space auditor</h3>
    <p>
      Space auditor
    </p>
  </div>
</details>

<table class="member-table">
  <thead>
    <tr>
      <th scope="col" style="width:200px;">Space name</th>
      <th scope="col" style="width:140px;">Space manager</th>
      <th scope="col">Space developer</th>
      <th scope="col">Space auditor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="heading-small">dev-datahub</td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
    </tr>
    <tr>
      <td class="heading-small">dev-directory</td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
    </tr>
    <tr>
      <td class="heading-small">dev-enav</td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
      <td><div class="multiple-choice">
                          <input id="manager-checkbox-0" name="invites[0]person_is_manager" type="checkbox" value="true">
                          <label for="manager-checkbox-0">&nbsp;</label>
                        </div></td>
    </tr>
  </tbody>
 </table>


		<br />
		<p class="remove-link">
			<a href="/team-member-remove">Remove user</a>
		</p>

	</div>

</div>
</main>

{% endblock %}
